<% provide(:header, "Ninja Categories") %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            New Ninja Category
        </div>
        <div class="panel-body">
            <%= render 'form' %>
        </div>
    </div>
  </div>
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Showing all Ninja Categories
          </div>
          <div class="panel-body">
            <% @ninja_categories.each do |ninja_category| %>
            <ul>
            <% if ninja_category.parent_id.blank? %>
            <li><%= ninja_category.name %> <%= link_to "Edit", edit_admin_ninja_category_path(ninja_category)%> <%= link_to "Delete", admin_ninja_category_path(ninja_category), method: 'delete', data: { confirm: 'Are you sure?' } %>
            <%= render partial: 'subcategory', locals: {subcategories: ninja_category.subcategories} if ninja_category.subcategories.present? %>
            </li>
            <% end %>
            </ul>
            <% end %>
          </div>
      </div>
  </div>
</div>
