<%= simple_form_for([:admin, @fitment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :part, label_method: :part_number, value_method: :id %>
    <%= f.association :vehicle,label_method: :model, value_method: :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
