<div class="row m-b-lg animated fadeInDown">
      <div class="col-md-12">
      <div class="">
            <table class="table small m-b-xs">
              <tbody>
                <tr>
                    <td><h3><strong>Discovery id:</strong> <% if @fitment.discovery %> <%= link_to "#{@fitment.disovery.id}", @fitment.discovery %><% end %> </h3></td>
                    <td><h3><strong>User:</strong> <% if @fitment.user %> <%= link_to "#{@fitment.user.username}", @fitment.user %><% end %></h3></td>
                </tr>
                <tr>
                    <td><h3><strong>Part:</strong> <%= @fitment.part.product.brand.name %> <%= @fitment.part.product.name %></h3></td>
                    <td><h3><strong>Part Number:</strong> <%= @fitment.part.part_number %></h3></td>
                </tr>
                <tr>
                    <td><h3><strong>Designed For:</strong> <%= @fitment.vehicle.vehicle_year.year %> <%= @fitment.vehicle.brand.name %> <%= @fitment.vehicle.model %></h3></td>
                    <td><h3><strong><%= link_to 'Edit', edit_admin_fitment_path(@fitment) %></strong></h3></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12 animated fadeInRight">
      </div>
  </div>
