<div class="card breadcrumb forum-breadcrumb">
  <div class="card-body">
    <%= link_to 'Forums', forum_root_path %> / <%= @topic.title %>
  </div>
</div>

<div class="card">
  <div class="card-heading m-b-0">
    <div class="pull-right"><%= link_to "New Thread", new_forum_topic_thread_path(@topic), class: "btn btn-default" %></div>
    <h3><%= @topic.title %></h3>
    <p><%= @topic.description %></p>
  </div>
  <div class="thread-list">
    <% if @threads.present? %>
      <%= render partial: "forum/forum_topics/forum_threads/forum_thread", collection: @threads %>
    <% else %>
      <div class="thread text-center">
        No threads to show
      </div>
    <% end %>
  </div>
</div>
