<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-actions">
              <%= vote_actions(compatible) %>
            </div>
            <div class="vote-title">
              <% if compatible.compatible_part.fitments.count > 1 %> <div class="multiple-vehicles" data-toggle="collapse" data-target="#collapse_<%= compatible.id %>">Multiple Models&nbsp;</div><% else %> <% compatible.compatible_part.fitments.each do |f| %> <%= f.vehicle.year %> <%= f.vehicle.brand.name %> <%= f.vehicle.model %> <% end %> <% end %> - <%= compatible.compatible_part.product.brand.name %> <%= compatible.compatible_part.product.name %> <% if compatible.compatible_part.part_number %><small>Part Number:</small> <%= compatible.compatible_part.part_number %> <% end %>
            </div>
            <div class="vote-info">
                <i class="fa fa-comments-o"></i><%= link_to " View Discovery", compatible.discovery  %>
                <i class="fa fa-gears"></i> Replaces: <%= compatible.part.product.name %>
                <% if compatible.discovery.modifications %><i class="fa fa-clock-o"></i>  Modifications Required <% end %>
            </div>
        </div>
    </div>
</div>
<% if compatible.compatible_part.fitments.count> 1 %>
  <div id="collapse_<%= compatible.id %>" class="collapse vehicle-dropdown">
    <div class="padding">
      <div class="row">
        <% compatible.compatible_part.fitments.each do |f| %> <div class="col-xs-6 col-md-3"> <%= f.vehicle.year %> <%= f.vehicle.brand.name %> <%= f.vehicle.model %> </div> <% end %>
      </div>
    </div>
  </div>
<% end %>
