<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @compatible.fitment_id %>
</p>

<p>
  <strong>Replaces:</strong>
  <%= @compatible.compatible_fitment_id %>
</p>

<p>
  <strong>Discovery:</strong>
  <%= @compatible.discovery_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @compatible.discovery.user.username %>
</p>

<%= link_to 'Edit', edit_compatible_path(@compatible) %> |
<%= link_to 'Back', compatibles_path %>
