<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @compatible.part_id %>
</p>

<p>
  <strong>Replaces:</strong>
  <%= @compatible.compatible_part_id %>
</p>

<p>
  <strong>backwards Compatible?</strong>
  <%= @compatible.backwards %>
</p>

<p>
  <strong>Discovery:</strong>
  <%= @compatible.discovery_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @compatible.discovery.user.username %>
</p>
