<div class="resend-confirmation">
  <div class="header">
    <%= image_tag("ThePartsNinjaDark.png", class:"img-responsive logo") %>
    <h4>Resend Confirmation</h4>
    <p class="text-center">Enter your email address and a new confirmation link will be emailed to you.</p>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "user-form" }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>
    <%= f.input :email, required: true, autofocus: true, wrapper_html: { class: "form-field" } %>
    <div class="form-action">
      <%= f.button :submit, "Resend Confirmation", class:"btn-shadow btn-shadow-primary" %>
    </div>
  <% end %>
</div>
