<p id="notice"><%= notice %></p>

<p>
  <strong>Part:</strong>
  <%= @fitment.part.part_number %> <br>
  <%= @fitment.part.product.brand.name %>
  <%= @fitment.part.product.name %>
</p>

<p>
  <strong>Designed For This Vehicle:</strong>
  <%= @fitment.vehicle.year %> <%= @fitment.vehicle.brand.name %> <%= @fitment.vehicle.model %> 
</p>

<p>
  <strong>It can replace these parts:</strong>
  <table>
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Part Brand</th>
        <th>Part Name</th>
        <th>Vehicle Year</th>
        <th>Vehicle Make</th>
        <th>Vehicle Year</th>
      </tr>
    </thead>

    <tbody>
      <% @fitment.knowns.each do |fitment| %>
        <tr>
          <td><%= fitment.part.part_number %></td>
          <td><%= fitment.part.product.brand.name %></td>
          <td><%= fitment.part.product.name %> </td>
          <td><%= fitment.vehicle.year %> </td>
          <td><%= fitment.vehicle.brand.name %></td>
          <td><%= fitment.vehicle.model %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <strong>It can POTENTIALLY replace these parts:</strong>
  <p>Vote up or down to say if they will or not. </p>
  <table>
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Part Brand</th>
        <th>Part Name</th>
        <th>Vehicle Year</th>
        <th>Vehicle Make</th>
        <th>Vehicle Year</th>
      </tr>
    </thead>

    <tbody>
      <% @fitment.potentials.each do |fitment| %>
        <tr>
          <td><%= fitment.part.part_number %></td>
          <td><%= fitment.part.product.brand.name %></td>
          <td><%= fitment.part.product.name %> </td>
          <td><%= fitment.vehicle.year %> </td>
          <td><%= fitment.vehicle.brand.name %></td>
          <td><%= fitment.vehicle.model %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <strong>Discovery:</strong>
  <%= @fitment.discovery_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @fitment.user %>
</p>

<%= link_to 'Edit', edit_fitment_path(@fitment) %> |
<%= link_to 'Back', fitments_path %>


