<p id="notice"><%= notice %></p>

<p>
  <strong>Part:</strong>
  <%= @fitment.part.part_number %> <br>
  <%= @fitment.part.product.brand.name %>
  <%= @fitment.part.product.name %>
</p>

<p>
  <strong>Designed For This Vehicle:</strong>
  <%= @fitment.vehicle.year %> <%= @fitment.vehicle.brand.name %> <%= @fitment.vehicle.model %> 
</p>

<p>
  <strong>This part is replaceable with these parts:</strong>
  <table>
    <thead>
      <tr>
        <th>Compatible ID</th>
        <th>Part Number</th>
        <th>Part Brand</th>
        <th>Part Name</th>
        <th>Vehicle Year</th>
        <th>Vehicle Make</th>
        <th>Vehicle Year</th>
      </tr>
    </thead>

    <tbody>
      <% @fitment.known_compatibles.each do |k| %>
        <tr>
          <td><%= k.id %></td>
          <td><%= k.compatible_fitment.part.part_number %></td>
          <td><%= k.compatible_fitment.part.product.brand.name %></td>
          <td><%= k.compatible_fitment.part.product.name %> </td>
          <td><%= k.compatible_fitment.vehicle.year %> </td>
          <td><%= k.compatible_fitment.vehicle.brand.name %></td>
          <td><%= k.compatible_fitment.vehicle.model %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<strong>These Parts Should be backwards compatible:</strong>
  <table>
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Part Brand</th>
        <th>Part Name</th>
        <th>Vehicle Year</th>
        <th>Vehicle Make</th>
        <th>Vehicle Year</th>
      </tr>
    </thead>

    <tbody>
      <% @fitment.backwards_compatibles.each do |k| %>
        <tr>
          <td><%= k.fitment.part.part_number %></td>
          <td><%= k.fitment.part.product.brand.name %></td>
          <td><%= k.fitment.part.product.name %> </td>
          <td><%= k.fitment.vehicle.year %> </td>
          <td><%= k.fitment.vehicle.brand.name %></td>
          <td><%= k.fitment.vehicle.model %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<strong>These are compatible but not backwards compatible:</strong>
  <table>
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Part Brand</th>
        <th>Part Name</th>
        <th>Vehicle Year</th>
        <th>Vehicle Make</th>
        <th>Vehicle Year</th>
      </tr>
    </thead>

    <tbody>
      <% @fitment.known_not_backwards_compatibles.each do |k| %>
        <tr>
          <td><%= k.fitment.part.part_number %></td>
          <td><%= k.fitment.part.product.brand.name %></td>
          <td><%= k.fitment.part.product.name %> </td>
          <td><%= k.fitment.vehicle.year %> </td>
          <td><%= k.fitment.vehicle.brand.name %></td>
          <td><%= k.fitment.vehicle.model %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<strong>It can replace these parts:</strong>
  <table>
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Part Brand</th>
        <th>Part Name</th>
        <th>Vehicle Year</th>
        <th>Vehicle Make</th>
        <th>Vehicle Year</th>
      </tr>
    </thead>

    <tbody>
      <% @fitment.potential_compatibles.each do |k| %>
        <tr>
          <td><%= k.fitment.part.part_number %></td>
          <td><%= k.fitment.part.product.brand.name %></td>
          <td><%= k.fitment.part.product.name %> </td>
          <td><%= k.fitment.vehicle.year %> </td>
          <td><%= k.fitment.vehicle.brand.name %></td>
          <td><%= k.fitment.vehicle.model %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>



<p>
  <strong>Discovery:</strong>
  <%= @fitment.discovery_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @fitment.user %>
</p>

<%= link_to 'Edit', edit_fitment_path(@fitment) %> |
<%= link_to 'Back', fitments_path %>


