<p id="notice"><%= notice %></p>

<p>
  <strong>Part:</strong>
  <%= @fitment.part %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @fitment.vehicle %>
</p>

<p>
  <strong>Discovery:</strong>
  <%= @fitment.discovery_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @fitment.user %>
</p>

<%= link_to 'Edit', edit_fitment_path(@fitment) %> |
<%= link_to 'Back', fitments_path %>
