
<div class="wrapper wrapper-content">
  <div class="row m-b-lg m-t-lg animated fadeInDown">
      <div class="col-md-12">
      <div class="">
            <table class="table small m-b-xs">
              <tbody>
                <tr>
                    <td><h3><strong>Discovery id:</strong> <% if @fitment.discovery %> <%= link_to "#{@fitment.disovery.id}", @fitment.discovery %><% end %> </h3></td>
                    <td><h3><strong>User:</strong> <% if @fitment.user %> <%= link_to "#{@fitment.user.name}", @fitment.user %><% end %></h3></td>
                </tr>
                <tr>
                    <td><h3><strong>Part:</strong> <%= @fitment.part.product.brand.name %> <%= @fitment.part.product.name %></h3></td>
                    <td><h3><strong>Part Number:</strong> <%= @fitment.part.part_number %></h3></td>
                </tr>
                <tr>
                    <td><h3><strong>Designed For:</strong> <%= @fitment.vehicle.year %> <%= @fitment.vehicle.brand.name %> <%= @fitment.vehicle.model %></h3></td>
                    <td><h3><strong><%= link_to 'Edit', edit_fitment_path(@fitment) %></strong></h3></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12 animated fadeInRight"> 

      <div class="ibox">
          <div class="ibox-title">
              <h5>Other OEM Fitments</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content no-padding">
            <% if @fitment.other_oem_fitments.any? %>
              <%= render partial: 'fitments/compatible_fitment', collection: @fitment.other_oem_fitments %>
            <% else %>
              <div class="search-box-padding">
                <h5 class="text-center">Search Potential Parts</h5>
                <form class="search-container text-center" action="/search">
                  <input id="search-box" type="text" class="search-box" name="q" />
                  <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                  <input type="submit" id="search-submit" />
                </form>
              </div>
            <% end %>
          </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <h5>Compatibilities</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding">
            <% if @compats.any?  %>
              <%= render partial: 'compatibles/compatible', collection: @compats %>
            <% else %>
              <div class="search-box-padding">
                <h5 class="text-center">Search Compatible Parts</h5>
                <form class="search-container text-center" action="/search">
                  <input id="search-box" type="text" class="search-box" name="q" />
                  <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                  <input type="submit" id="search-submit" />
                </form>
              </div>
            <% end %>
            </div>
        </div>

        <div class="ibox">
          <div class="ibox-title">
              <h5>Known Fitments from OEM + Compats</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content no-padding">
            <% if @fitment.oem_and_compatible_fitments.any? %>
              <%= render partial: 'fitments/compatible_fitment', collection: @fitment.oem_and_compatible_fitments %>
            <% else %>
              <div class="search-box-padding">
                <h5 class="text-center">Search Potential Parts</h5>
                <form class="search-container text-center" action="/search">
                  <input id="search-box" type="text" class="search-box" name="q" />
                  <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                  <input type="submit" id="search-submit" />
                </form>
              </div>
            <% end %>
          </div>
        </div>

        <div class="ibox">
          <div class="ibox-title">
              <h5>Potential Fitments</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content no-padding">
            <% if @potentials.any? %>
              <%= render partial: 'fitments/potential_fitment', collection: @potentials %>
            <% else %>
              <div class="search-box-padding">
                <h5 class="text-center">Search Potential Parts</h5>
                <form class="search-container text-center" action="/search">
                  <input id="search-box" type="text" class="search-box" name="q" />
                  <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                  <input type="submit" id="search-submit" />
                </form>
              </div>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>




