<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-title">
              <%= part_vehicle_fitments(oem_part) %>
            </div>
            <div class="vote-info">
                <i class="fa fa-comments-o"></i><%= link_to " View Part", oem_part  %>
            </div>
        </div>
    </div>
</div>
<% if oem_part.oem_vehicles.count> 1 %>
  <div id="collapse_<%= oem_part.id %>" class="collapse vehicle-dropdown">
    <div class="info">
      <div class="row">
        <% oem_part.oem_vehicles.each do |f| %> <div class="col-xs-6 col-md-3"> <%= f.year %> <%= f.brand.name %> <%= f.model %> </div> <% end %>
      </div>
    </div>
  </div>
<% end %>
