<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-actions">
              <%= potential_score(potential_part[:score]) %>
            </div>
            <div class="vote-title">
              <%= part_vehicle_fitments(potential_part[:part]) %>
            </div>
        </div>
    </div>
</div>
<% if potential_part[:part].oem_vehicles.count> 1 %>
  <div id="collapse_<%= potential_part[:part].id %>" class="collapse vehicle-dropdown">
    <div class="info">
      <div class="row">
        <i class="fa fa-comments-o"></i><%= link_to " View Part", potential_part[:part]  %>
        <i class="fa fa-gears"></i> Reasoning: THIS PART is compatible with THIS PART
      </div>
      <div class="row">
        <% potential_part[:part].oem_vehicles.each do |f| %> <div class="col-xs-6 col-md-3"> <%= f.year %> <%= f.brand.name %> <%= f.model %> </div> <% end %>
      </div>
    </div>
  </div>
<% end %>
