<div data-toggle="collapse" data-target="#p_<%= potential_part[:part].id %>" class="part-group potential">
  <div class="row part-title">
    <div class="col-md-12">
      <i class="fa fa-plus-circle fa-3x part-info-btn"></i>
      <div class="vote-actions">
        <%= potential_score(potential_part[:score]) %>
      </div>
      <div class="vote-title">
        <%= part_vehicle_fitments(potential_part[:part]) %>
      </div>
      <div class="vote-info">
        <i class="fa fa-navicon"></i> More Information...
      </div>
    </div>
  </div>
  <div id="p_<%= potential_part[:part].id %>" class="collapse part-info">
    <div class="row info">
      <div class="col-md-6 col-sm-6">
        <i class="fa fa-comments-o"></i><h4>Part Number: </h4> <%= link_to "#{potential_part[:part].part_number}", potential_part[:part]  %> <br>
        <i class="fa fa-gears"></i><h4>Reasoning: </h4>  Part -> Part -> Part -> Part
      </div>
      <div class="col-md-6 col-sm-6 info-divider">
        <% if potential_part[:part].oem_vehicles.count > 1 %>
          <h3>OEM Models</h3>
          <div class="row">
            <% potential_part[:part].oem_vehicles.each do |f| %> <div class="col-xs-6 col-md-6"> <%= f.vehicle_year.year %> <%= f.brand.name %> <%= f.model %> </div> <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
