<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-actions">
                <i class="fa fa-random fa-rotate-270"> </i>
                <div>4</div>
                <i class="fa fa-random fa-rotate-90 random-icon-fix"> </i>
            </div>
            <div class="vote-title">
              <% if potential_part.oem_vehicles.count > 1 %> <div class="multiple-vehicles" data-toggle="collapse" data-target="#collapse_<%= potential_part.id %>">Multiple Models&nbsp;</div><% else %> <% potential_part.oem_vehicles.each do |f| %> <%= f.year %> <%= f.brand.name %> <%= f.model %> <% end %> <% end %>  -  <%= potential_part.product.brand.name %> <%= potential_part.product.name %> <% if potential_part.part_number %><small>Part Number:</small> <%= potential_part.part_number %> <% end %>
            </div>
            <div class="vote-info">
                <i class="fa fa-comments-o"></i><%= link_to " View Part", potential_part  %> 
                <i class="fa fa-gears"></i> Reasoning: THIS PART is compatible with THIS PART
            </div>
        </div>
    </div>
</div>
<% if potential_part.oem_vehicles.count> 1 %>
  <div id="collapse_<%= potential_part.id %>" class="collapse vehicle-dropdown">
    <div class="padding">
      <div class="row">
        <% potential_part.oem_vehicles.each do |f| %> <div class="col-xs-6 col-md-3"> <%= f.year %> <%= f.brand.name %> <%= f.model %> </div> <% end %>
      </div>
    </div>
  </div>
<% end %>