<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-actions">
                <i class="fa fa-random fa-rotate-270"> </i>
                <div><%= weighted_potential_part[:score] %></div>
                <i class="fa fa-random fa-rotate-90 random-icon-fix"> </i>
            </div>
            <div class="vote-title">
              <% if weighted_potential_part[:part].oem_vehicles.count > 1 %> <div class="multiple-vehicles" data-toggle="collapse" data-target="#collapse_<%= weighted_potential_part[:part].id %>">Multiple Models&nbsp;</div><% else %> <% weighted_potential_part[:part].oem_vehicles.each do |f| %> <%= f.year %> <%= f.brand.name %> <%= f.model %> <% end %> <% end %>  -  <%= weighted_potential_part[:part].product.brand.name %> <%= weighted_potential_part[:part].product.name %> <% if weighted_potential_part[:part].part_number %><small>Part Number:</small> <%= weighted_potential_part[:part].part_number %> <% end %>
            </div>
            <div class="vote-info">
                <i class="fa fa-comments-o"></i><%= link_to " View Part", weighted_potential_part[:part]  %>
                <i class="fa fa-gears"></i> Reasoning: THIS PART is compatible with THIS PART
            </div>
        </div>
    </div>
</div>
<% if weighted_potential_part[:part].oem_vehicles.count> 1 %>
  <div id="collapse_<%= weighted_potential_part[:part].id %>" class="collapse vehicle-dropdown">
    <div class="padding">
      <div class="row">
        <% weighted_potential_part[:part].oem_vehicles.each do |f| %> <div class="col-xs-6 col-md-3"> <%= f.year %> <%= f.brand.name %> <%= f.model %> </div> <% end %>
      </div>
    </div>
  </div>
<% end %>
