<p id="notice"><%= notice %></p>


<p>
  <strong>Part:</strong>
  <strong>Brand:</strong> <%= @part.product.brand.name %> <br>
  <strong>Name:</strong> <%= @part.product.name %> <br>
  <strong>Part Number:</strong> <%= @part.part_number %> <br>
  <% if @part.product.description %>
    <strong>Part Description:</strong><br>
    <%= @part.product.description %><br>
  <% end %>
  <% if @part.description %>
    <strong>Extra Note:</strong><br> 
    <%= @part.description %>
  <% else %>
    
  <% end %>
</p>


<% if @part.user %>
  <p>
    <strong>Submitted by:</strong>
    <%= @part.user.username %>
  </p>
<% end %>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>