<% content_for :header do %>
  <%= render 'layouts/header_partials/results' %>
  <%= render 'layouts/header_partials/search' %>
<% end %>

<div class="row">
  <div class="col-md-9">
      <% if @search.vehicle && @search.oem_results.any?%>
      <div class="ibox">
        <div class="ibox-title"><%= @search.compatible_results.count %> Compatible Parts</div>
        <div class="ibox-content no-padding">
          <% if @search.compatible_results.any? %>
            <%= render partial: 'compatibilities/compatibility', collection: @search.compatible_results %>
          <% else %>
          <div class="search-box-padding">
            <h5 class="text-center">No Compatibles Were Found...</h5>
            <p class="text-center">Try a different search term other than <strong><%= @search.part %></strong>. Maybe something shorter?</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-title"><%= @search.potential_results.count %> Potential Parts</div>
        <div id="potentials" class="ibox-content no-padding">
          <% if @search.potential_results.any? %>
            <%= render partial: 'parts/potential_part', collection: @search.potential_results %>
          <% else %>
          <div class="search-box-padding">
            <h5 class="text-center">No Potentials Were Found...</h5>
            <p class="text-center">Try a different search term other than <strong><%= @search.part %></strong>. Maybe something shorter?</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-title"><%= @search.oem_results.count %> OEM Parts </div>
        <div class="ibox-content no-padding">
          <% if @search.oem_results.any? %>
            <%= render partial: 'parts/oem_part', collection: @search.oem_results %>
          <% else %>
          <div class="search-box-padding">
            <h5 class="text-center">No OEM Parts Were Found...</h5>
            <p class="text-center">Try a different search term other than <strong><%= @search.part %></strong>. Maybe something shorter?</p>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
  <div class="col-md-3">
    <%= render 'results_sidebar' %>
    <div class="ibox">
      <div class="ibox-title">
        Quick Stats
      </div>
      <div class="ibox-content">
        Compatible Vehicles:
        <ul>
          <li>2009 Yamaha WR250</li>
          <li>2008 Yamaha YZ250</li>
          <li>2005 Yamaha YZ125</li>
          <li>2005 Yamaha YZ250</li>
        </ul>
        Potential Vehicles:
        <ul>
          <li>2011 Yamaha YZ250F</li>
          <li>2011 Yamaha YZ450F</li>
          <li>2004 Yamaha YZ250</li>
          <li>2002 Yamaha WR426</li>
          <li>2012 Yamaha WR450</li>
        </ul>
      </div>
    </div>
  </div>
</div>
