<%= simple_form_for([:admin, @vehicle_model]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs vehicle-model">
      <%= f.association :brand, label_method: :name, value_method: :id %>
      <%= f.input :name, label: "Model" %>
      <%= f.simple_fields_for :vehicle_submodels do |submodel| %>
        <%= submodel.input :name, label: "Submodel", hint: "Leave blank if none exists"%>
        <div id='vehicles' class="row">
          <%= submodel.simple_fields_for :vehicles do |vehicle| %>
            <%= render 'admin/vehicle_models/vehicle_fields', :f => vehicle %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association icon(:plus, class: "fa-2x"), submodel, :vehicles, partial: 'admin/vehicle_models/vehicle_fields' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
