<%= paginate_search(search_record) %>

<table id="results-table" class="table">
  <thead>
      <tr>
        <th></th>
        <th>Brand</th>
        <th>Model</th>
        <th>Years</th>
        <th class="text-center">Compatibilities</th>
      </tr>
  </thead>
  <tbody>
    <% search_record.vehicles.group_by{ |v| v.vehicle_submodel }.each do |vehicle_submodel, vehicles| %>
    <% vehicles.sort_by!{ |v| v.vehicle_year_id } %>
      <tr data-toggle="collapse" data-target="#submodel_<%= vehicle_submodel.id %>">
        <td><%= image_tag("missing-brand-image", class:"img-responsive") %></td>
        <td><%= vehicle_submodel.vehicle_model.brand.name %></td>
        <td><%= vehicle_submodel.vehicle_model.name %> <%= vehicle_submodel.name %></td>
        <td><%= friendly_years_for(vehicles) %></td>
        <td class="text-success text-center"><%= vehicles.size %> (<%= vehicles.first.submodel_compatibility_count %>)</td>
      </tr>
      <tr class="hidden-row">
        <td colspan="5">
          <div id="submodel_<%= vehicle_submodel.id %>" class="collapse">
            <div class="details">
              <h5>Years:</h5>
              <div class="row">
                <% vehicles.each do |vehicle| %>
                  <div class="col-md-4"><%= vehicle.year %> (<%= vehicle.vehicle_compatible_count %>)</div>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pager(search_record) %>

<script type="text/javascript">
  $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
  });
</script>
