<h1 style="text-transform: uppercase; font-weight: 800;"><%= pluralize(search_record.above_threshold_count, 'vehicle') %> found</h1>
<hr>
<ul class="list-unstyled">
  <li><strong>Vehicle:</strong> <%= search_record.vehicle.to_label %></li>
  <li><strong>Part:</strong> <%= search_record.fitment_note.name + " -" if search_record.fitment_note %> <%= search_record.category.name %></li>
  <% if Rails.env.development? %>
    <li><strong>Pages:</strong> <%= search_record.total_pages %></li>
    <li><strong>Models:</strong> <%= search_record.grouped_count %></li>
    <li><strong>Max Score:</strong> <%= search_record.max_score %></li>
    <li><strong>Threshold:</strong> <%= search_record.above_threshold_count %>/<%= search_record.results_count %></li>
  <% end %>
</ul>

<h4>Legend:</h4>
<ul class="list-unstyled">
  <li><div class="badge"><%= icon(:signal, class: "green") %> ****</div>&mdash; Strong compatibility rating</li>
  <li><div class="badge"><%= icon(:signal, class: "yellow") %> ****</div>&mdash; Medium compatibility rating</li>
  <li><div class="badge"><%= icon(:signal, class: "white") %> ****</div>&mdash; Low compatibility rating</li>
  <li><div class="badge" style="opacity: .2;"><%= icon(:signal, class: "white") %> ****</div>&mdash; Compatibility connection exists but is under threshold</li>
</ul>
