<% content_for :header_topic do %>
  <h1>Find Compatibilities</h1>
  <p>Find vehicles that share common parts</p>
<% end %>
<% content_for :header do %>
  <%= render 'layouts/header_partials/spacial_default' %>
  <%= render 'layouts/header_partials/stats' %>
<% end %>

<div class="row m-t-lg">
  <div class="col-md-3 col-md-push-9">
    <%= render 'shared/profile' %>
    <%= render 'shared/searches/search_tips' %>
  </div>
  <div class="col-md-9 col-md-pull-3">
    <%= render 'form_panel' %>
    <div id="search-stats" class="well">
      <% if @search.errors.any? %>
        <%= render partial: 'errors', object: @search %>
      <% elsif @compatibility_search.successful? %>
        <%= render 'successful', search_record: @compatibility_search %>
      <% else %>
        <%= render 'unsuccessful', search_record: @compatibility_search %>
      <% end %>
    </div>
    <div id="results">
      <% if @compatibility_search.successful? %>
        <%= render 'results_page', search_record: @compatibility_search %>
      <% end %>
    </div>
  </div>
</div>
