<tr>
  <td><%= compatibility.id %></td>
  <td><%= compatibility.cached_votes_score %></td>
  <td><%= compatibility.part.part_number %></td>
  <td><%= compatibility.compatible_part.part_number %></td>
  <td><%= compatibility.discovery_id %></td>
  <td><%= compatibility.modifications %></td>
  <td><%= link_to 'Show', admin_compatibility_path(compatibility) %></td>
  <td><%= link_to 'Edit', edit_admin_compatibility_path(compatibility) %></td>
  <td><%= link_to "Delete", admin_compatibility_path(compatibility), method: :delete, data: {confirm: "Are you sure?"}  %></td>
</tr>
