<h1>Leads</h1>

<table>
  <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.email %></td>
        <td><%= lead.auto %></td>
        <td><%= lead.dirtbike %></td>
        <td><%= lead.streetbike %></td>
        <td><%= lead.atv %></td>
        <td><%= link_to "Destroy", admin_lead_path(lead), method: :delete, alert: "Are you sure?" %></td>
      </tr>

  <% end %>
</table>
