
<div data-toggle="collapse" data-target="#c_<%= compatibility.id %>" class="part-group compatibility">
  <div class="row part-title">
    <div class="col-md-12">
      <div class="profile">
        <%= gravatar_for(compatibility.discovery.user) %>
        <div class="user-stats">
          <%= link_to "#{compatibility.discovery.user.username}", compatibility.discovery.user %><br>
          <i class="fa fa-star"></i> 495 | 39
        </div>
      </div>
      <div class="vote-actions">
        <%= vote_actions(compatibility) %>
      </div>
      <div class="vote-title">
        <%= part_vehicle_fitments(compatibility.compatible_part) %>
      </div>
      <div class="vote-info">
        <i class="fa fa-navicon"></i> More Information...
      </div>
    </div>
  </div>
  <div id="c_<%= compatibility.id %>" class="collapse part-info">
    <div class="row info">
      <div class="col-md-6 col-sm-6">
        <i class="fa fa-gears"></i> <h4>Part Number: </h4> <%= compatibility.compatible_part.part_number %> <br>
        <i class="fa fa-gears"></i> <h4>Replaces: </h4> <%= compatibility.part.product.name %> <br>
        <% if compatibility.modifications %><i class="fa fa-clock-o"></i>  <h4>Modifications Are Required</h4><br> <% end %>
        <i class="fa fa-comments-o"></i><%= link_to " View Discovery", compatibility.discovery  %> <br>
      </div>
      <div class="col-md-6 col-sm-6 info-divider">
        <% if compatibility.compatible_part.oem_vehicles.count > 1 %>
          <h3>OEM Models</h3>
          <div class="row">
            <% compatibility.compatible_part.oem_vehicles.each do |f| %> <div class="col-xs-6 col-md-6"> <%= f.year %> <%= f.brand.name %> <%= f.model.name %> </div> <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
