<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @compatibility.part_id %>
</p>

<p>
  <strong>Replaces:</strong>
  <%= @compatibility.compatible_part_id %>
</p>

<p>
  <strong>backwards Compatible?</strong>
  <%= @compatibility.backwards %>
</p>

<p>
  <strong>modifications?</strong>
  <%= @compatibility.modifications %>
</p>

<p>
  <strong>Discovery:</strong>
  <%= @compatibility.discovery_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @compatibility.discovery.user.username %>
</p>
