<%= simple_form_for @search, as: "search", url: results_check_index_path, method: :post, html: { class: "check-form" }, remote: true do |f| %>
  <div class="card m-b-md" style="overflow: visible">
    <div class="search-container">
      <div class="search-display">
        <div class="row search-box">
          <%= f.simple_fields_for :category do |category| %>
            <%= category.input :name, input_html: {class: "typeahead", autocomplete: "off"}, wrapper_html: {class:"col-md-8"}, label: false, placeholder: "What part are you looking for?" %>
            <%= category.input :id, as: :hidden %>
          <% end %>
          <%= f.simple_fields_for :fitment_note do |fitment_note| %>
            <%= fitment_note.input :id, collection: [], wrapper_html: { class:"col-md-4" }, label: false, disabled: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="overflow: visible">
    <div class="search-tags">
      <div class="col-md-6 query-placeholder">
        <div id="vehicle" class="query-tag">
          <span id="vehicle_year"></span>
          <span id="vehicle_brand"></span>
          <span id="vehicle_model"></span>
          <span id="vehicle_submodel"></span>
          <%= link_to icon(:times), "#", class: "muted" %>
        </div>
      </div>
      <div class="col-md-6 query-placeholder">
        <div id="comparing_vehicle" class="query-tag">
          <span id="comparing_vehicle_year"></span>
          <span id="comparing_vehicle_brand"></span>
          <span id="comparing_vehicle_model"></span>
          <span id="comparing_vehicle_submodel"></span>
          <%= link_to icon(:times), "#", class: "muted" %>
        </div>
      </div>
    </div>
    <div class="row search-inputs">
      <div class="col-md-6 input">
        <%= link_to "#", onclick: "show_popover_select($(this))" do %>
          <%= icon(:motorcycle) %> Vehicle One<b class="caret"></b>
        <% end %>
        <div class="popover-select hide">
          <%= f.simple_fields_for :vehicle do |vehicle| %>
            <%= vehicle.input :brand, collection: @brands, class:"form-control", label: false, prompt: "Make...", input_html: {class: "chosen-select" } %>
            <%= vehicle.input :model, collection: [], class: "form-control", label: false, prompt: "Model...", input_html: {class: "chosen-select" }%>
            <%= vehicle.input :submodel, collection: [], class:"form-control", label: false, prompt: "Submodel..." %>
            <%= vehicle.input :year, collection: [], prompt: "Year...", label: false, class:"form-control" %>
            <%= vehicle.input :id, as: :hidden %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 input">
        <%= link_to "#", onclick: "show_popover_select($(this))" do %>
          <%= icon(:motorcycle, class:"fa-flip-horizontal") %> Vehicle Two<b class="caret"></b>
        <% end %>
        <div class="popover-select hide">
          <%= f.simple_fields_for :comparing_vehicle do |comparing_vehicle| %>
            <%= comparing_vehicle.input :brand, collection: @brands, class:"form-control", label: false, prompt: "Make...", input_html: {class: "chosen-select" } %>
            <%= comparing_vehicle.input :model, collection: [], class: "form-control", label: false, prompt: "Model...", input_html: {class: "chosen-select" }%>
            <%= comparing_vehicle.input :submodel, collection: [], class:"form-control", label: false, prompt: "Submodel..." %>
            <%= comparing_vehicle.input :year, collection: [], prompt: "Year...", label: false, class:"form-control" %>
            <%= comparing_vehicle.input :id, as: :hidden %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row search-action">
      <div class="col-md-12 action text-center">
        <%= f.submit "Check", id: "compatibility-check-process", class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var categories = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {url: '/categories/1/leaves.json',
               ttl: 3600000 } // Locally cache results for 1 hr
  });

  $('.typeahead').typeahead({
    hint: true,
    highlight: true,
    autoselect: true
  },
  {
    name: 'categories',
    display: 'name',
    limit: 10,
    source: categories
  });
  $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
    $('#search_category_id').val(suggestion.id);
    $('#search_category_id').trigger('change');
  });

  $('#search_category_id').on("change", function() {
    var select = $('#search_fitment_note_id')
    select.empty();
    var categoryId = $(this).val();
    if (categoryId > 0 ) {
      var url = "/categories/"+categoryId+"/fitment_notes";
      $.getJSON(url, function(json){
        if ( json.length > 0 ) {
          select.empty();
          select.append($('<option>').text("Specify..."));
          $.each(json, function(i, obj){
            select.append($('<option>').text(obj.name).attr('value', obj.id));
          });
          select.prop('disabled', false);
        } else {
          select.prop('disabled', true);
        };
      });
    };
  });

  dynamic_vehicle_form("search_vehicle");
  dynamic_vehicle_form("search_comparing_vehicle");
  update_vehicle_tag("vehicle");
  update_vehicle_tag("comparing_vehicle");
  update_part_tag("category_name", "category_name");
  update_part_tag("fitment_note_id", "part_note");
  $("#search_vehicle_year").on("change", function() {
    var vehicleId = $(this).val();
    $("#search_vehicle_id").val(vehicleId);
  });
  $("#search_comparing_vehicle_year").on("change", function() {
    var vehicleId = $(this).val();
    $("#search_comparing_vehicle_id").val(vehicleId);
  });
  function update_vehicle_span(vehicle, attribute) {
    $("#search_" + vehicle + "_" + attribute).on("change", function() {
      var optionText = $(this).find("option:selected").text();
      if (optionText !== "-- Base") {
        $("#" + vehicle + "_" + attribute).html(optionText + " ");
      };
    });
  };
  function update_vehicle_tag(vehicle) {
    update_vehicle_span(vehicle, "brand");
    update_vehicle_span(vehicle, "model");
    update_vehicle_span(vehicle, "submodel");
    update_vehicle_span(vehicle, "year");
  };
  function update_part_tag(select, span) {
    $("#search_" + select).on('typeahead:selected', function() {
      var text = $(this).val();
      // var optionText = $(this).find("option:selected").text();
      $("#" + span).html(text + " ");
    });
  };
  function show_popover_select(popover) {
    target = $(popover).next('.popover-select');
    if ( $( target ).hasClass( "hide" ) ) {
      target.removeClass('hide');
    } else {
      target.addClass('hide');
    };
  };
</script>
