<%= paginate_search(search_record) %>

<table id="results-table" class="table">
  <thead>
      <tr>
        <th></th>
        <th>Brand</th>
        <th>Product</th>
        <th>Description</th>
        <th class="text-center">Compatibilities</th>
      </tr>
  </thead>
  <tbody>
    <% search_record.parts.group_by { |s| s.product }.sort_by { |products, parts| parts.size }.reverse.each do |product, parts| %>
      <tr data-toggle="collapse" data-target="#product_<%= product.id %>">
        <td><%= image_tag("missing-brand-image", class:"img-responsive") %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td class="text-success text-center"><%= parts.count %></td>
      </tr>
      <tr class="hidden-row">
        <td colspan="5">
          <div id="product_<%= product.id %>" class="collapse">
            <div class="details">
              <h5>Part Numbers:</h5>
              <div class="row">
                <% parts.each do |p| %>
                  <div class="col-md-4"><%= p.part_number %></div>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pager(search_record) %>

<script type="text/javascript">
  $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
  });
</script>
