<div class="pull-right" style="margin-right:20px;">
  <%= paginate_search(search_record) %>
</div>
<div class="clearfix"></div>
<div class="result-headers hidden-xs">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2"></div>
      <div class="col-md-10"><h5>Product</h5></div>
    </div>
    <div class="col-md-6">
      <h5>Description</h5>
    </div>
  </div>
</div>
<div class="search-result-group">
  <% search_record.parts.group_by { |s| s.product }.sort_by { |products, parts| parts.size }.reverse.each do |product, parts| %>
    <div class="search-result">
      <div class="row overview" data-toggle="collapse" data-target="#product_<%= product.id %>" data-parent="#results">
        <div class="col-xs-12 col-md-6">
          <div class="col-xs-4 col-md-2 brand-image"><%= image_tag("missing-brand-image", class:"img-responsive") %></div>
          <div class="col-xs-8 col-md-10 product">
            <span class="brand-name"><strong><%= product.brand.name %></strong></span>
            <span class="product-name"><%= product.name %></span>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <hr class="visible-xs">
          <div class="description"><span class="visible-xs"><strong>Description:</strong></span> <%= product.description %></div>
        </div>
      </div>
      <div id="product_<%= product.id %>" class="hidden-row collapse">
       <div class="details">
         <h5>Part <%= pluralize_without_count(parts.size, 'Number') %>:</h5>
         <div class="row">
           <% parts.each do |part| %>
             <div class="col-xs-6 col-md-4"><%= part.part_number %></div>
           <% end %>
         </div>
       </div>
      </div>
    </div>
  <% end %>
</div>

<%= pager(search_record) %>

<script type="text/javascript">
  $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
  });
</script>
