<% content_for :header_topic do %>
  <h1>Compatibility Check</h1>
  <p>Check whether parts fit between vehicles</p>
<% end %>
<% content_for :header do %>
  <%= render 'layouts/header_partials/spacial_default' %>
  <%= render 'layouts/header_partials/stats' %>
<% end %>

<div class="row m-t-lg">
  <div class="col-md-3 col-md-push-9">
    <%= render 'shared/profile' %>
    <%= render 'shared/searches/search_tips' %>
  </div>
  <div class="col-md-9 col-md-pull-3">
    <%= render 'form_panel' %>
    <div id="search-stats" class="well">
      <div class="text-center">
        <h4>Fill out the form above to start</h4>
      </div>
    </div>
    <div id="results"></div>
  </div>
</div>
