<% content_for :header_topic do %>
  <h1>Compatibility Check</h1>
  <p>Check whether parts fit between vehicles</p>
<% end %>
<% content_for :header do %>
  <%= render 'layouts/header_partials/spacial_default' %>
  <%= render 'layouts/header_partials/stats' %>
<% end %>

<div class="row">
  <div class="col-md-3 col-md-push-9">
    <%= render 'shared/profile' %>
  </div>
  <div class="col-md-9 col-md-pull-3">
    <%= render 'form_panel' %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Results</h3>
      </div>
      <div class="panel-body">
        <div id="search-notice" class="">
          <%= if @search.errors.any? %>
            <%= render partial: 'errors', object: @search %>
          <%= elsif @check_search.successful? %>
            <%= render partial: 'successful', search_record: @check_search %>
          <% else %>
            <%= render partial: 'unsuccessful', search_record: @check_search %>
          <% end %>
        </div>
        <div id="results" class="">
          <%= if @check_search.successful? %>
            <%= render partial: 'results_page', search_record: @check_search %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
