<div class="row">
  <div class="col-md-12">
    <div class="card o-f-h">
      <div class="card-bg">
        <div class="hero-text">
          <h1>Compatibility Check</h1>
          <p>Check part interchangeability between vehicles</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= render 'shared/profile' %>
    <%= render 'shared/searches/search_tips' %>
  </div>
  <div class="col-md-9">
    <%= render 'form_panel' %>
    <div class="card">
      <div class="card-heading">
        <h5>Results</h5>
      </div>
      <div class="card-body">
        <div id="search-stats" class="well">
          <% if @search.errors.any? %>
            <%= render partial: 'errors', object: @search %>
          <% elsif @check_search.successful? %>
            <%= render 'successful', search_record: @check_search %>
          <% else %>
            <%= render 'unsuccessful', search_record: @check_search %>
          <% end %>
        </div>
      </div>
      <div id="results" class="card-content">
        <% if @check_search.successful? %>
          <%= render 'results_page', search_record: @check_search %>
        <% end %>
      </div>
    </div>
  </div>
</div>
