<div class="row topic-section">
  <div class="col-md-11 col-md-offset-1 topic-title"><%= root_topic.title %></div>
</div>
<% sub_topics.each do |sub_topic| %>
  <% sub_topic = sub_topic.first %>
  <div class="row topic">
    <div class="hidden-xs col-md-1 text-center topic-icon"><%= icon(sub_topic.icon.to_sym, class: "fa-2x") %></div>
    <div class="col-xs-12 col-md-6 topic-body">
      <h3><%= link_to sub_topic.title, forum_topic_path(sub_topic) %></h3>
      <h5><%= sub_topic.description %></h5>
    </div>
    <div class="row topic-stats">
      <div class="col-xs-2 col-md-1 text-center topic-threads">
        <strong><%= sub_topic.forum_threads.size %></strong> <br>
        Threads
      </div>
      <div class="col-xs-2 col-md-1 text-center topic-posts">
        <strong><%= sub_topic.forum_posts.size %></strong> <br>
        Posts
      </div>
      <div class="col-xs-8 col-md-3 last-post">
        <% if sub_topic.forum_posts.present? %>
          <div class="poster-avatar">
            <%= gravatar_for(sub_topic.forum_posts.last.user) %>
          </div>
          <div class="poster-info">
            by <%= sub_topic.forum_posts.last.user.username %> <br>
            <%= icon(:clock_o) %> <%= time_ago_in_words(sub_topic.forum_posts.last.created_at) %> ago
          </div>
        <% else %>
        <div class="poster-info">
          No Posts Yet
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
