<div class="card breadcrumb forum-breadcrumb">
  <div class="card-body">
    <%= link_to 'Forums', forum_root_path %> > <%= @topic.title %>
  </div>
</div>

<div class="card">
  <div class="card-heading m-b-none">
    <h5><%= @topic.description %></h5>
    <h3 class="lead"><%= @topic.title %></h3>
  </div>
  <ul class="forum-list">
    <%= render @threads %>
    <li class="thread">
      <div class="forum-body text-center">
          <%= link_to "New Thread", new_forum_topic_thread_path(@topic), class: "btn btn-default" %>
      </div>
    </li>
  </ul>
</div>
