<div class="password-reset">
  <div class="header">
    <%= image_tag("ThePartsNinjaDark.png", class:"img-responsive logo") %>
    <p class="text-center">Please enter your new password and confirm it.</p>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "user-form" }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>
    <%= f.input :password, placeholder: "New password", label: false, required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), wrapper_html: { class: "form-field" } %>
    <%= f.input :password_confirmation, placeholder: "Confirm your new password", label: false, required: true, wrapper_html: { class: "form-field" } %>
    <div class="form-action">
      <%= f.button :submit, "Reset Password", class:"btn-shadow btn-shadow-primary" %>
    </div>
  <% end %>
</div>
