<div class="password-reset">
  <div class="header">
    <%= image_tag("ThePartsNinjaDark.png", class:"img-responsive logo") %>
    <p class="text-center">Enter your email address and reset instructions will be emailed to you.</p>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "user-form"  }) do |f| %>
    <%= f.error_notification %>
      <%= f.input :email, required: true, autofocus: true, placeholder: "Your Email", label: false, wrapper_html: { class: "form-field" } %>
      <div class="form-action">
        <%= f.button :submit, "Reset Password", class:"btn-shadow btn-shadow-primary" %>
      </div>
      <div class="form-bottom">
        <%= link_to "Sign In", login_path %>
      </div>
  <% end %>
</div>
