<tr>
  <td><%= search.id %></td>
  <% if search.vehicle_id %>
    <td><%= search.vehicle_id %></td>
    <td><%= search.vehicle.year %></td>
    <td><%= search.vehicle.brand.name %></td>
    <td><%= search.vehicle.model %></td>
  <% else %>
    <td></td>
    <td><%= search.year %></td>
    <td><%= search.brand %></td>
    <td><%= search.model %></td>
  <% end %>
  <td><%= search.part %></td>
  <td><%= search.user.id if search.user_id %></td>
  <td><%= search.created_at.strftime("%b %d, %Y") %></td>
  <td><%= link_to "Delete", admin_search_path(search), method: :delete, data: {confirm: "Are you sure?"}  %></td>
</tr>
