<%= simple_form_for @lead, url: leads_path(@lead), remote: true do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, class: "form-control", placeholder: "Email", label: false %>
  <h3 class="text-center">What are you interested in?</h3>
  <div class="check-container">
    <%= f.input :auto, label: "Cars/Trucks", wrapper: false %>
    <%= f.input :dirtbike, label: "Dirt Bikes", wrapper: false %>
    <%= f.input :dualsport, label: "Dual Sport", wrapper: false %>
    <%= f.input :atv, label: "ATVs", wrapper: false %>
    <%= f.input :utv, label: "UTVs", wrapper: false %>
    <%= f.input :watercraft, label: "Watercraft", wrapper: false %>
    <%= f.input :snowmobile, label: "Snowmobiles", wrapper: false %>
    <%= f.input :streetbike, label: "Streetbikes", wrapper: false %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Submit", class: "btn btn-primary btn-default" %>
  </div>

<% end %>
