<div class="col-md-6 col-md-offset-3">
  <header class="site-header">
     <div class="logo">
       <%= link_to root_path do %>
         <%= image_tag("parts_ninja_dark_logo.png") %>
       <% end %>
       <h2>The Parts Ninja</h2>
     </div>
  </header>
  <h1>Soon.... Very soon...</h1>
  <p><strong>In the mean time...</strong> Sign-up for our mailing list and we will notify you when The Parts Ninja is up and running. You'll have access to the early beta and
    other special offers only available to our beta users. Of course we promise we won't sell your email to anyone. We'd never do such a thing!</p>
  <hr>
  <div id="email-form">
    <%= render 'leads/form' %>
  </div>
  <footer>
    <ul class="list-unstyled">
      <li><%= link_to '<i class="fa fa-facebook fa-fw fa-2x"></i>'.html_safe, 'https://facebook.com/thepartsninja', :target => "_blank" %></li>
      <li><%= link_to '<i class="fa fa-instagram fa-fw fa-2x"></i>'.html_safe, 'https://instagram.com/theparts.ninja', :target => "_blank" %></li>
      <li><%= link_to '<i class="fa fa-twitter fa-fw fa-2x"></i>'.html_safe, 'https://twitter.com/thepartsninja', :target => "_blank" %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    </ul>
  </footer>
</div>
