<%= simple_form_for([:admin, @vehicle]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :brand %>
    <%= f.input :vehicle_model %>
    <%= f.input :vehicle_submodel %>
    <%= f.input :vehicle_year, collection: VehicleYear.all, label_method: :year, value_method: :year, label: "Year" ,include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
