<%= simple_form_for([:admin, @vehicle]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :brand,label_method: :name, value_method: :id %>
      <%= f.association :vehicle_year, label_method: :year %>
      <%= f.input :model %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
