<div class="topic-title">
  <h3>Check Compatibility</h3>
</div>
<div id="compatibility-check-form" class="m-b-md">
  <%= simple_form_for :compatibility_check, url: results_compatibility_checks_path, method: :get, remote: true do |f| %>
    <div class="search-container">
      <div class="search-display">
        <div class="search-box">
          <%= icon(:search, class: "search-icon") %>
          <div class="search-params">
            <div id="v_one" class="query-term"><span id="vehicle_one_year">2006 </span><span id="vehicle_one_brand">Yamaha </span><span id="vehicle_one_model">YZ250 </span><span id="vehicle_one_submodel"></span> <%= link_to icon(:times), "#", class: "muted" %></div>
            <div id="v_two" class="query-term"><span id="vehicle_two_year">2010 </span><span id="vehicle_two_brand">Yamaha </span><span id="vehicle_two_model">YZ450F </span><span id="vehicle_two_submodel"></span> <%= link_to icon(:times), "#", class: "muted" %></div>
            <div id="part" class="query-term">Complete Wheel - Front <%= link_to icon(:times), "#", class: "muted" %></div>
          </div>
        </div>
        <div class="search-actions">
          <%= f.submit "Check", id: "compatibility-check-process", class: "btn btn-default disabled" %>
        </div>
      </div>
      <div class="cb"></div>
      <ul class="search-inputs nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon(:motorcycle) %> Vehicle One <b class="caret"></b></a>
          <div class="dropdown-menu">
            <%= f.input :vehicle_one_brand, collection: @brands, class:"form-control", label: false, prompt: "Make...", input_html: {class: "chosen-select" } %>
            <%= f.input :vehicle_one_model, collection: [], class: "form-control", label: false, prompt: "Model...", input_html: {class: "chosen-select" }%>
            <%= f.input :vehicle_one_submodel, collection: [], class:"form-control", label: false, prompt: "Submodel..." %>
            <%= f.input :vehicle_one_year, collection: [], prompt: "Year...", label: false, class:"form-control" %>
            <%= f.input :vehicle_one_id, as: :hidden %>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon(:motorcycle) %> Vehicle Two<b class="caret"></b></a>
          <div class="dropdown-menu">
            <%= f.input :category_parent, collection: Category.where(parent_id: 35), class:"form-control", label: false, prompt: "Category...", input_html: {class: "chosen-select" } %>
            <%= f.input :category_subcategories, collection: [], class: "form-control", label: false, prompt: "Children...", input_html: {class: "chosen-select" }%>
            <%= f.input :product_type_id, collection: [], prompt: "Part...", label: false, class:"form-control" %>
            <%= f.input :fitment_note_id, collection: [], prompt: "Specify...", label: false, class:"form-control" %>
            <%#= f.input :part_attributes, collection: [], prompt: "Specify...", label: false, class:"form-control", input_html: {class: "chosen-select", multiple: true } %>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon(:gears) %> Part<b class="caret"></b></a>
          <div class="dropdown-menu">
            <%= f.input :vehicle_two_brand, collection: @brands, class:"form-control", label: false, prompt: "Make...", input_html: {class: "chosen-select" } %>
            <%= f.input :vehicle_two_model, collection: [], class: "form-control", label: false, prompt: "Model...", input_html: {class: "chosen-select" }%>
            <%= f.input :vehicle_two_submodel, collection: [], class:"form-control", label: false, prompt: "Submodel..." %>
            <%= f.input :vehicle_two_year, collection: [], prompt: "Year...", label: false, class:"form-control" %>
            <%= f.input :vehicle_two_id, as: :hidden %>
          </div>
        </li>
      </ul>
      <div class="cb"></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  dynamic_vehicle_form("compatibility_check_vehicle_one");
  dynamic_vehicle_form("compatibility_check_vehicle_two");
  dynamic_category_form("compatibility_check");
  // dynamic_product_type_form("compatibility_check_category");
  // dynamic_part_attributes_form("compatibility_check");
  dynamic_fitment_notes_form("compatibility_check");
  update_vehicle_tag("vehicle_one");
  update_vehicle_tag("vehicle_two");

  $("#compatibility_check_vehicle_one_year").on("change", function() {
    var vehicleId = $(this).val();
    $("#compatibility_check_vehicle_one_id").val(vehicleId);
  });

  $("#compatibility_check_vehicle_two_year").on("change", function() {
    var vehicleId = $(this).val();
    $("#compatibility_check_vehicle_two_id").val(vehicleId);
  });

  $("#compatibility_check_product_type_id, #compatibility_check_vehicle_two_id, #compatibility_check_vehicle_one_id").on("change", function() {
    update_link();
    // $("#compatibility-check-process").removeClass("disabled");
  });
  function update_link() {
    var vehicleTwo = $("#compatibility_check_vehicle_two_id").val();
    var vehicleOne = $("#compatibility_check_vehicle_one_id").val();
    var productType = $("#compatibility_check_product_type_id").val();
    if ( vehicleOne > 0 && vehicleTwo > 0 && productType > 0 ) {
      $("#compatibility-check-process").removeClass("disabled");
    } else {
      $("#compatibility-check-process").addClass("disabled");
    };
  };
  function update_vehicle_span(vehicle, attribute) {
    $("#compatibility_check_" + vehicle + "_" + attribute).on("change", function() {
      var optionText = $(this).find("option:selected").text();
      $("#" + vehicle + "_" + attribute).html(optionText + " ");
    });
  };

  function update_vehicle_tag(vehicle) {
    update_vehicle_span(vehicle, "brand");
    update_vehicle_span(vehicle, "model");
    update_vehicle_span(vehicle, "submodel");
    update_vehicle_span(vehicle, "year");
  };

  $('.dropdown.keep-open').on({
      "shown.bs.dropdown": function() { this.closable = false; },
      "click":             function() { this.closable = true; },
      "hide.bs.dropdown":  function() { return this.closable; }
  });
</script>
