<%= simple_form_for :compatibility_check, url: results_compatibility_checks_path, method: :get, remote: true do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="vehicle-one text-center">
        <h2>Vehicle One</h2>
        <div id="v_one"><span id="vehicle_one_year"></span><span id="vehicle_one_brand"></span><span id="vehicle_one_model"></span><span id="vehicle_one_submodel"></span></div>
        <i class="fa fa-motorcycle fa-5x compatibility-check-arrow"></i>
      </div>
      <%= f.input :vehicle_one_brand, collection: @brands, class:"form-control", label: false, prompt: "Make...", input_html: {class: "chosen-select" } %>
      <%= f.input :vehicle_one_model, collection: [], class: "form-control", label: false, prompt: "Model...", input_html: {class: "chosen-select" }%>
      <%= f.input :vehicle_one_submodel, collection: [], class:"form-control", label: false, prompt: "Submodel..." %>
      <%= f.input :vehicle_one_year, collection: [], prompt: "Year...", label: false, class:"form-control" %>
      <%= f.input :vehicle_one_id, as: :hidden %>
    </div>
    <div class="col-md-4">
      <div class="check-part text-center">
        <h2>What Part?</h2>
        <i class="fa fa-arrows-h fa-5x compatibility-check-arrow"></i>
      </div>
      <%= f.input :category_parent, collection: Category.where(parent_id: 35), class:"form-control", label: false, prompt: "Category...", input_html: {class: "chosen-select" } %>
      <%= f.input :category_subcategories, collection: [], class: "form-control", label: false, prompt: "Children...", input_html: {class: "chosen-select" }%>
      <%= f.input :product_type_id, collection: [], prompt: "Part...", label: false, class:"form-control" %>
      <%= f.input :fitment_note_id, collection: [], prompt: "Specify...", label: false, class:"form-control" %>
      <%#= f.input :part_attributes, collection: [], prompt: "Specify...", label: false, class:"form-control", input_html: {class: "chosen-select", multiple: true } %>
    </div>
    <div class="col-md-4">
      <div class="vehicle-two text-center">
        <h2>Vehicle Two</h2>
        <div id="vehicle_two"><span id="vehicle_two_year"></span><span id="vehicle_two_brand"></span><span id="vehicle_two_model"></span><span id="vehicle_two_submodel"></span></div>
        <i class="fa fa-motorcycle fa-5x fa-flip-horizontal compatibility-check-arrow"></i>
      </div>
      <%= f.input :vehicle_two_brand, collection: @brands, class:"form-control", label: false, prompt: "Make...", input_html: {class: "chosen-select" } %>
      <%= f.input :vehicle_two_model, collection: [], class: "form-control", label: false, prompt: "Model...", input_html: {class: "chosen-select" }%>
      <%= f.input :vehicle_two_submodel, collection: [], class:"form-control", label: false, prompt: "Submodel..." %>
      <%= f.input :vehicle_two_year, collection: [], prompt: "Year...", label: false, class:"form-control" %>
      <%= f.input :vehicle_two_id, as: :hidden %>
    </div>
    <div class="col-md-12 text-center">
      <%= f.submit "Search", id: "compatibility-check-process", class: "btn btn-primary disabled" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  dynamic_vehicle_form("compatibility_check_vehicle_one");
  dynamic_vehicle_form("compatibility_check_vehicle_two");
  dynamic_category_form("compatibility_check");
  // dynamic_product_type_form("compatibility_check_category");
  // dynamic_part_attributes_form("compatibility_check");
  dynamic_fitment_notes_form("compatibility_check");
  update_vehicle_tag("vehicle_one");
  update_vehicle_tag("vehicle_two");

  $("#compatibility_check_vehicle_one_year").on("change", function() {
    var vehicleId = $(this).val();
    $("#compatibility_check_vehicle_one_id").val(vehicleId);
  });

  $("#compatibility_check_vehicle_two_year").on("change", function() {
    var vehicleId = $(this).val();
    $("#compatibility_check_vehicle_two_id").val(vehicleId);
  });

  $("#compatibility_check_product_type_id, #compatibility_check_vehicle_two_id, #compatibility_check_vehicle_one_id").on("change", function() {
    update_link();
    // $("#compatibility-check-process").removeClass("disabled");
  });
  function update_link() {
    var vehicleTwo = $("#compatibility_check_vehicle_two_id").val();
    var vehicleOne = $("#compatibility_check_vehicle_one_id").val();
    var productType = $("#compatibility_check_product_type_id").val();
    if ( vehicleOne > 0 && vehicleTwo > 0 && productType > 0 ) {
      $("#compatibility-check-process").removeClass("disabled");
    } else {
      $("#compatibility-check-process").addClass("disabled");
    };
  };
  function update_vehicle_span(vehicle, attribute) {
    $("#compatibility_check_" + vehicle + "_" + attribute).on("change", function() {
      var optionText = $(this).find("option:selected").text();
      $("#" + vehicle + "_" + attribute).html(optionText + " ");
    });
  };

  function update_vehicle_tag(vehicle) {
    update_vehicle_span(vehicle, "brand");
    update_vehicle_span(vehicle, "model");
    update_vehicle_span(vehicle, "submodel");
    update_vehicle_span(vehicle, "year");
  };
</script>
