<div id="compatibility-check-results" class="m-b-md">
  <div class="topic-title">
    <h3>Results</h3>
  </div>
  <% if @results.any? %>
    <div class="results-overview success alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h2 class="text-center"><%= icon(:check, class:"fa-2x") %></h2>
      <p>It appears that there were some <%= @check.product_type.name %> compatibilities found between:</p>
      <%= @check.vehicle_one.to_label %> and <%= @check.vehicle_two.to_label %>
      <p>There were a total of <%= @parts.count %> compatibilities found</p>
      Of these <%= @parts.count %> were aftermarket.
      And 34 were OEM.
    </div>
    <div class="results">
      <% @products.each do |product, parts| %>
        <%= render partial: "product", locals: {product: product, parts: parts} %>
      <% end %>
    </div>
  <% else %>
  <div class="results-overview success warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h2 class="text-center"><%= icon(:times, class:"fa-2x") %></h2>
    It does not appear that there were any compatibilitites between these two parts.
  </div>
    <div class="results">
      Try again?
    </div>
  <% end %>
</div>
