<% content_for :header do %>
  <%= render 'layouts/header_partials/splash' %>
<% end %>

<section id="about" class="features gray-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Who is...<br/> <span class="navy"> <i>The Parts NINJA?</i></span> </h1>
            <p>Through years of practice, he's discovered secret training techniques to help you find whatever part you're looking for. </p>
        </div>
    </div>
    <div class="row m-t-md">
        <div class="col-md-3 text-center">
          <div>
              <i class="fa fa-connectdevelop features-icon fa-5x"></i>
              <h2>The Compatibility Web</h2>
              <p>The Parts NINJA utilizes a sneaky algorithm that references thousands of parts and connects the dots to find you every potential replacement for common and specialized parts.</p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <%= image_tag("landing/tpnmocku.png", class:"img-responsive") %>
        </div>
        <div class="col-md-3 text-center">
          <div>
              <i class="fa fa-mobile features-icon fa-5x"></i>
              <h2>Always at Hand</h2>
              <p>The Parts NINJA is always there to help you. Your computer at home, your tablet while you're in the store or even on your phone while you're out at the track. The Ninjas got you back.</p>
          </div>
        </div>
    </div>
  </div>
</section>
<section class="white-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>How...<br/> <span class="navy"> <i> Does he do it?</i></span> </h1>
        </div>
    </div>
    <div class="row m-t-md">
        <div class="col-md-6 text-center align-outer">
          <div class="align-inner">
              <h2>Basic Search Stuff</h2>
              <p>The Parts NINJA utilizes a sneaky algorithm that references thousands of parts and connects the dots to find you every potential replacement for common and specialized parts.</p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <%= image_tag("landing/Basic_Search_Results.png", class:"img-responsive margin-auto") %>
        </div>
    </div>
    <div class="row m-t-md">
      <div class="col-md-6 col-md-offset-3 text-center align-outer">
        <div class="align-inner">
            <h2>The Real Magic</h2>
            <p>The Parts NINJA utilizes a sneaky algorithm that references thousands of parts and connects the dots to find you every potential replacement for common and specialized parts.</p>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <%= image_tag("landing/Discovery_example.png", class:"img-responsive margin-auto") %>
      </div>
    </div>
  </div>
</section>

<section class="cta-block gray-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Are you...<br/> <span class="navy"> <i> Ready to become a Ninja?</i></span> </h1>
            <p>Run out of options? Local shop out of stock? The Parts Ninja can help!</p>
        </div>
    </div>
    <div class="row features-block m-b">
        <div class="col-lg-6">
            <small>The Parts NINJA</small>
            <h2>All the parts, all together</h2>
            <p>The ultimate DIY mechanic resource and is helped built by you - the garage McGyvers of the world. <strong>Remember how you replaced your '11 TM Racing 250MX clutch plates with some left over '07 CR250 plates?</strong>Go ahead and submit it.
              Doing this helps the next person who’s in your same situation, find an alternative. From that point on, The Parts Ninja will add this to the compatibility web so that new, unthought-of possibilites are right there when you need them most.</p>
            <div class="btn btn-primary disabled">Become a Ninja!</div>
        </div>
        <div class="col-lg-6 text-center">
            <%= image_tag("Final4.gif", class:"img-responsive") %>
        </div>
    </div>
  </div>
</section>
<section class="sign-up-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-title">
            Signup for Email notifications
          </div>
          <div id="emailForm" class="ibox-content">
            <%= render 'leads/form' %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="navy-line"></div>
        <h1>Dont miss out!</h1>
        <p>Want to know when The Parts NINJA is ready to share his knowledge? Sign up for the email list. As an early supporter, you'll have access to the Beta program, and you'll recieve a special gift from the Ninja when he's officially live.
          And don't worry, your email is safe with The Parts NINJA, he won't spam you or sell your information.</p>
      </div>
    </div>
  </div>
</section>

<script>
  $('body').addClass('info-pages');
</script>
