<div class="index-header">
  <section class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1>
          Use new filters to enhance your photos with just one click
        </h1>
        <p>
          Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people.
        </p>

        <div class="cta">
          <a href="#" class="btn btn-primary btn-lg">
            Sign up free
          </a>
          <a class="btn-outline popup-media" href="https://vimeo.com/155404383">
            <i class="fa fa-play"></i>
            Learn more
          </a>
        </div>
      </div>
      <div class="col-sm-5">
        <%= image_tag("spacial/iphone-13.png", class:"mobile-pic fadeInScale hidden-xs") %>
      </div>
    </div>
  </section>
</div>

<div class="index-app-news">
  <div class="container">
    <span>New</span>
    <strong>Download our newest iOS app.</strong> Take your business on the go now with our mobile app.
    <a href="#">Available in the appstore.</a>
  </div>
</div>

<div class="index-intro">
  <div class="container">
    <header>
      <h3>How does it actually work?</h3>
      <p>
        Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go.
      </p>
    </header>
    <section class="row">
      <div class="col-sm-6">
        <h4>Take all your photos at all times</h4>
        <p>
          Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get support for any questions and matters that you might have.
        </p>
      </div>
      <div class="col-sm-6">
        <h4>Upgrade your account to get all features</h4>
        <p>
          Spacial is designed to make showing off your best projects extremely fast and simple. There are many ways to configure. Just go to the source, make changes and the rest is taken care automatically.
        </p>
      </div>
    </section>
  </div>
</div>

<div class="index-mobile-features">
  <div class="container">
    <header>
      <h3>
        Improve performance with our analytics
      </h3>
      <p>
        There aren't many settings to configure. Just upload your photos and the rest is taken care of automatically.
      </p>
    </header>
    <div class="features clearfix">
      <div class="feature">
        <div class="pic">
          <%= image_tag("spacial/outline-camera.png", class:"icon-camera") %>
        </div>
        <p>
          Take pictures any given time
        </p>
      </div>
      <div class="feature">
        <div class="pic">
          <%= image_tag("spacial/outline-user.png", class:"icon-user") %>
        </div>
        <p>
          Meet new awesome friends
        </p>
      </div>
      <div class="feature">
        <div class="pic">
          <%= image_tag("spacial/outline-cloud.png", class:"icon-cloud") %>
        </div>
        <p>
          Keep all your files in sync
        </p>
      </div>
      <div class="feature">
        <div class="pic">
          <%= image_tag("spacial/outline-mail.png", class:"icon-mail") %>
        </div>
        <p>
          Contact all your contacts directly
        </p>
      </div>
    </div>
  </div>
</div>

<div class="index-devices">
  <section class="clearfix">
    <%= image_tag("landing/ThePartsNinjaMockUp.png", class:"img-responsive devices") %>

    <h4>Looks great in any device</h4>
    <p>
      Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
    </p>
    <p>
      Spacial is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
    </p>
    <div class="icons">
      <i class="ion-monitor"></i>
      <i class="ion-ipad"></i>
      <i class="ion-iphone"></i>
    </div>
  </section>
</div>

<div class="index-features-files mobile-alt clearfix">
  <div class="container2">
    <div class="container1">
      <div class="col col-left">
        <div class="features">
          <div class="feature clearfix">
            <div class="image">
              <%= image_tag("spacial/features-icon-upload.png") %>
            </div>
            <div class="info">
              <strong>
                Improve your workflow today
              </strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
              </p>
            </div>
          </div>
          <div class="feature clearfix">
            <div class="image">
              <%= image_tag("spacial/features-icon-earth.png") %>
            </div>
            <div class="info">
              <strong>
                Your data in the cloud
              </strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
              </p>
            </div>
          </div>
          <div class="feature clearfix">
            <div class="image">
              <%= image_tag("spacial/features-icon-repeat.png") %>
            </div>
            <div class="info">
              <strong>
                Easy to customize
              </strong>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-right">
        <div class="info">
          <h3>Sync your contacts now</h3>
          <h4>
            Powerful dashboard that lets you control your site and portfolio.
          </h4>
          <p>
            Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included. It works in all browsers and your clients can pay instantly to everyone.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="index-features-cta">
  <div class="container">
    <section>
      <div class="info">
        <strong>
          Ready to get started and be awesome?
        </strong>
        <p>
          Try our 30-day trial no credit card required
        </p>
      </div>
      <a href="#">
        Sign Up Now
      </a>
    </section>
  </div>
</div>
