<% content_for :header do %>
  <%= render 'layouts/header_partials/splash' %>
  <%= render 'layouts/header_partials/stats' %>
<% end %>

<div id="about" class="index-intro">
  <div class="container">
    <header>
      <h2>How does it actually work?</h2>
      <div class="text-center"><%= image_tag("landing/Compatibility_Web.png") %></div>
      <p>
        The Parts Ninja takes the tips, tricks and lessons learned by you in the garage,
        and combines them with existing data to build a virtual parts compatiblity web.
        By helping build the compatibility web, you help enable access to thousands of
        potential part options to everyone else turning wrenches.
      </p>
    </header>
    <section class="row">
      <div class="col-sm-6">
        <h4>Search For Parts</h4>
        <p>
          Search for parts using The Parts Ninja proprietary search algorithims. Multiple
          search types, access to 50,000+ vehicles, over 300,000 parts and 7million+ fitments
          will help you find the part you're looking for.
        </p>
      </div>
      <div class="col-sm-6">
        <h4>Add Your Discoveries <small>BETA!</small></h4>
        <p>
          Submit your discoveries to contribute to the community developed compatibility web.
          Simply select the vehicle and part you found are compatible and
          The Parts Ninja will create the missing links for all future users.
        </p>
      </div>
    </section>
  </div>
</div>

<div id="banner">
  <div class="container">
    <h4>You have options...</h4>
    <h1>Let The Parts Ninja find them</h1>
  </div>
</div>

<div id="search-types" class="index-search-types">
  <div class="container">
    <div class="title">
      <h2>Two unique ways of searching</h2>
      <p>
        Other websites will show you information about a part but they stop there.
        The Parts Ninja takes it a step further and will give you detailed analysis on compatibilities and fitment.
      </p>
    </div>
    <div class="row search-type">
      <div class="col-md-6">
        <%= image_tag("landing/Basic_Search.png", class:"img-responsive") %>
      </div>
      <div class="col-sm-6">
        <h3>
          Find Compatibilities
        </h3>
        <p>
          Developed to find vehicles that share a specfic part. Perfect for when the part you need is unavailable,
          and all your other options have been exhausted.
        </p>
        <%= link_to icon(:chevron_right) + " Find Compatibilities", find_index_path, class: "btn-rounded" %>
      </div>
    </div>
    <div class="row search-type">
      <div class="col-md-6 col-md-push-6 col-xs-12">
        <%= image_tag("landing/Discovery_example.png", class:"img-responsive devices") %>
      </div>
      <div class="col-md-6 col-md-pull-6 col-xs-12 column-right">
        <h3>Check Compatibility
        </h3>
        <p>
          Need to know if the part you grabbed will fit? Use it for those times you see a great deal but are unsure
          if it'll work for your vehicle.
        </p>
        <%= link_to icon(:chevron_right) + " Check Compatibility", check_index_path, class: "btn-rounded" %>
      </div>
    </div>
  </div>
</div>

<div class="index-features-files mobile-alt clearfix">
  <div class="container2">
    <div class="container1">
      <div class="col col-left">
        <div class="features">
          <div class="feature clearfix">
            <div class="image">
              <%= icon(:earth) %>
            </div>
            <div class="info">
              <strong>
                Save Money
              </strong>
              <p>
                Many times there are alternative parts that are fractions the cost of OEM or main brands. In some cases these
                parts are even rebranded and sold for more!
              </p>
            </div>
          </div>
          <div class="feature clearfix">
            <div class="image">
              <%= icon(:earth) %>
            </div>
            <div class="info">
              <strong>
                Save Time
              </strong>
              <p>
                Finding used and specialty parts can be time consuming. Unless your Google-foo skills are up to stuff,
                it can take hours to find alternative parts and/or fitment information.
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="col col-right">
        <div class="info">
          <h3>Get Started</h3>
          <h4>
            Sign up now and help build the community!
          </h4>
          <p>
            The Parts Ninja will not soley rely on existing data, we want to know your discoveries! Your input will build
            out the compatibility web for future users. Sign up now and you'll be one of the first to have access to the
            skill of The Parts Ninja.
          </p>
          <%= link_to icon(:chevron_right) + " Sign Up NOW!", new_user_registration_path, class: "btn-rounded" %>
        </div>
      </div>
    </div>
  </div>
</div>
