<% content_for :header do %>
  <%= render 'layouts/header_partials/splash' %>
<% end %>

<section id="about" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Who is...<br/> <span class="navy"> <i>The Parts Ninja?</i></span> </h1>
        <p>He's discovered secret techniques to help you find whatever part you're looking for. </p>
      </div>
    </div>
    <div class="row m-t-md">
      <div class="col-md-3 text-center">
        <i class="fa fa-connectdevelop features-icon fa-5x"></i>
        <h2>The Compatibility Web</h2>
        <p>The Parts Ninja uses algorithms to cross-reference thousands of parts so that he can find you every potential replacement for common and specialized parts.</p>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag("landing/tpnmocku.png", class:"img-responsive margin-auto") %>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-mobile features-icon fa-5x"></i>
        <h2>Always Available</h2>
        <p>The Parts Ninja is always there to help you. Your computer at home, your tablet while you're in the store or even on your phone while you're out at the track. The Parts Ninja has your covered.</p>
      </div>
    </div>
  </div>
</section>

<section class="white-section m-t-md m-b-md">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Why...<br/> <span class="navy"> <i>Does he want to help?</i></span> </h1>
        <p>He's been in the same shoes as you and tired of not having options.</p>
      </div>
    </div>
    <div class="row m-t-md align-outer">
      <div class="col-md-6 text-center align-inner col-md-push-6">
        <h2>We've all been there</h2>
        <p>It's the day before the big race and you realize your clutch plates are toast; bummer. What do you do? Call the local shop? Hope they have some? What happens when they don't?</p>
        <p>What about that spare wheel you've always wanted? You found one but you're not sure it fits. What do you do? You probably hop on Google and do your best Google-foo.</p>
        <p><strong>The Parts Ninja is here to help!</strong></p>
        <p>Find out exactly what fits with one search. Don't waste money to find out that wheel wont work. How about that shop, are they out of stock? Ask if they have clutch plates from another model. You'll be surprised what is compatible.</p>
      </div>
      <div class="col-md-6 text-center col-md-pull-6">
        <%= image_tag("landing/Typical_Part_Search.gif", class:"img-responsive margin-auto") %>
      </div>
    </div>
  </div>
</section>

<section class="m-t-md">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>How...<br/> <span class="navy"><i>Does he do it?</i></span> </h1>
        <p>He's not all smoke and mirrors. There's a finely crafted method to his technique.</p>
      </div>
    </div>
    <hr>
    <div class="row m-t-md align-outer">
      <div class="col-md-6 text-center align-inner">
        <h2>Step 1: Existing Databases</h2>
        <p>The Parts Ninja begins by searching existing databases. Whenever a part is manufactured, it's designed to fit a specific line of vehicles.</p>
        <p><i>Wouldn't it be nice to know exactly what those vehicles are?</i>
          <h3><strong>The Parts Ninja will show you!</strong></h3>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag("landing/Basic_Search.png", class:"img-responsive margin-auto") %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-md-push-6 text-center pages-list">
        <h2>Step 2: Your Discoveries!</h2>
        <p>That's right, <strong>you</strong>! You know things; you're your own garage McGyver and the Parts Ninja wants to learn from you.</p>
        <p>Remember that time you were in the shop and discovered that you could replace those clutch plates with plates from a totally different vehicle? <strong>Show the world!</strong></p>
        <ul>
          <li>Create your discovery - Show us what parts you're switching.</li>
          <li>Make any notes - Are they backwards compatible? Are extra modifications required? Extra parts?</li>
          <li><strong>And submit it!</strong></li>
        </ul>
        <p><strong>Congratulations! You've earned some garage karma!</strong></p>
      </div>
      <div class="col-md-6 col-sm-12 col-md-pull-6 text-center">
        <%= image_tag("landing/Discovery_example.png", class:"img-responsive margin-auto") %>
        </div>
      </div>
    <hr>
    <div class="row align-outer">
      <div class="col-md-6 text-center align-inner">
        <h2>Step 3: Magic!</h2>
        <p>The Parts Ninja uses your new discovery to create a compatibility web of parts. This means that your discovery could be that all important link that creates thousands of potential new options!</p>
      </div>
      <div class="col-md-6">
        <%= image_tag("landing/Compatibility_Web.png", class:"img-responsive martin-auto") %>
      </div>
    </div>
  </div>
</section>

<section class="cta-block white-section m-t-md p-b-md">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Are you...<br/> <span class="navy"> <i> Ready to become a Ninja?</i></span> </h1>
          <p>Join the dojo and start helping out. It's easy and totally free!</p>
        </div>
    </div>
    <div class="row align-outer">
        <div class="col-lg-3 align-inner pages-list text-center">
            <h2>Why join?</h2>
            <ul>
              <li>Unlimited searching</li>
              <li>Access to full search results</li>
              <li>Acesss to the free Parts Ninja Marketplace</li>
              <li>Motorsports community</li>
            </ul>
            <div class="btn btn-primary disabled">Become a Ninja!</div>
        </div>
        <div class="col-lg-6 text-center">
            <%= image_tag("TPNnewdark.png", class:"img-responsive margin-auto") %>
        </div>
        <div class="col-lg-3 align-inner pages-list text-center">
            <h2>Need more reasons?</h2>
            <ul>
              <li>How-To guides</li>
              <li>Additional tools and services</li>
              <li>Member only discounts</li>
              <li>Plus more!</li>
            </ul>
            <div class="btn btn-primary disabled">Become a Ninja!</div>
        </div>
    </div>
  </div>
</section>

<section class="sign-up-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-title">
            Subscribe!
          </div>
          <div id="emailForm" class="ibox-content">
            <%= render 'leads/form' %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="navy-line"></div>
        <h1>Get Early Access!</h1>
        <p>Do you want to be the first to have access? Sign-up for the Email list and you'll have preferencial access. We'll be rolling out in waves and you would be at the forefront! Not only will you get
          early access, you'll also get a special gift from the Parts Ninja. Don't worry, your email is safe with the us, we won't ever spam you or sell your information.</p>
      </div>
    </div>
  </div>
</section>

<script>
  $('body').addClass('info-pages');
</script>
