<% content_for :header do %>
  <%= render 'layouts/header_partials/splash' %>
<% end %>

<section id="about" class="features gray-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Who is...<br/> <span class="navy"> <i>The Parts Ninja?</i></span> </h1>
            <p>Through years of training, he's discovered secret techniques to help you find whatever part you're looking for. </p>
        </div>
    </div>
    <div class="row m-t-md">
        <div class="col-md-3 text-center">
          <div>
              <i class="fa fa-connectdevelop features-icon fa-5x"></i>
              <h2>The Compatibility Web</h2>
              <p>The Parts Ninja uses algorithms to cross-reference thousands of parts so that he can find you every potential replacement for common and specialized parts.</p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <%= image_tag("landing/tpnmocku.png", class:"img-responsive") %>
        </div>
        <div class="col-md-3 text-center">
          <div>
              <i class="fa fa-mobile features-icon fa-5x"></i>
              <h2>Always at Hand</h2>
              <p>The Parts Ninja is always there to help you. Your computer at home, your tablet while you're in the store or even on your phone while you're out at the track. The Ninjas got you back.</p>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="white-section m-t-md">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>How...<br/> <span class="navy"> <i> Does he do it?</i></span> </h1>
        <p>He's not all smoke and mirrors. There's a finely crafted method to his technique.</p>
      </div>
    </div>
    <div class="row m-t-md align-outer">
      <div class="col-md-6 text-center align-inner">
        <h2>Step 1: Existing Databases</h2>
        <p>The Parts Ninja begins by searching existing databases. Whenever a part is manufactured, it's designed to fit a specific line of vehicles.</p>
        <p><i>Wouldn't it be nice to know exactly what those vehicles are?</i>
          <h3><strong>The Parts Ninja will show you!</strong></h3>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag("landing/Basic_Search_Results.png", class:"img-responsive margin-auto") %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center pages-list">
        <h2>Step 2: Your wisdom!</h2>
        <p>That's right, <strong>you</strong>! You know things; you're your own garage McGyver and the Parts Ninja wants to learn from you.</p>
        <p>Remember that time you were in the shop and discovered that you could replace those clutch plates with plates from a totally different vehicle? <strong>Show the world!</strong></p>
        <ul>
          <li>Create your discovery - Show us what parts you're switching.</li>
          <li>Make any notes - Are they backwards compatible? Are extra modifications required? Extra parts?</li>
          <li><strong>And submit it!</strong></li>
        </ul>
        <p><strong>Congratulations! You've earned some garage karma!</strong></p>
      </div>
      <div class="col-md-12 text-center">
        <%= image_tag("landing/Discovery_example.png", class:"img-responsive margin-auto") %>
      </div>
    </div>
    <hr>
    <div class="row align-outer">
      <div class="col-md-6 text-center align-inner">
        <h2>Step 3: The Magic!</h2>
        <p>The Parts Ninja uses your new discovery to create a compatibility web of parts. This means that your discovery could be that all important link that creates thousands of potential new options!</p>
      </div>
      <div class="col-md-6">
        <%= image_tag("landing/Discovery_example.png", class:"img-responsive") %>
      </div>
    </div>
  </div>
</section>

<section class="cta-block gray-section m-t-md m-b-md">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Are you...<br/> <span class="navy"> <i> Ready to become a Ninja?</i></span> </h1>
            <p>Join the dojo and start helping out. It's easy and totally free!</p>
        </div>
    </div>
    <div class="row align-outer">
        <div class="col-lg-3 align-inner pages-list text-center">
            <h2>Why join?</h2>
            <ul>
              <li>Unlimited searching</li>
              <li>Access to full search results</li>
              <li>Acesss to the free Parts Ninja Marketplace</li>
              <li>Community</li>
            </ul>
            <div class="btn btn-primary disabled">Become a Ninja!</div>
        </div>
        <div class="col-lg-6 text-center">
            <%= image_tag("TPNnewdark.png", class:"img-responsive margin-auto") %>
        </div>
        <div class="col-lg-3 align-inner pages-list text-center">
            <h2>More Reasons</h2>
            <ul>
              <li>Unlimited searching</li>
              <li>Access to full search results</li>
              <li>Acesss to the free Parts Ninja Marketplace</li>
              <li>Community</li>
            </ul>
            <div class="btn btn-primary disabled">Become a Ninja!</div>
        </div>
    </div>
  </div>
</section>

<section class="sign-up-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-title">
            Get Notified!
          </div>
          <div id="emailForm" class="ibox-content">
            <%= render 'leads/form' %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="navy-line"></div>
        <h1>Dont miss out!</h1>
        <p>Want to know when the Parts Ninja is ready to share his knowledge? Sign up for the email list. As an early supporter, you'll have access to the Beta program, and you'll recieve a special gift from the Ninja when he's officially live.
          And don't worry, your email is safe with the Parts Ninja, he won't spam you or sell your information.</p>
      </div>
    </div>
  </div>
</section>

<script>
  $('body').addClass('info-pages');
</script>
