<% provide(:header, "Dashboard") %>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @recent_users %></div>
                        <div>Users</div>
                    </div>
                </div>
            </div>
            <%= link_to admin_users_path do %>
                <div class="panel-footer">
                    <span class="pull-left">In the last 24 hours...</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @recent_leads %></div>
                        <div>Leads</div>
                    </div>
                </div>
            </div>
            <%= link_to admin_leads_path do %>
              <div class="panel-footer">
                  <span class="pull-left">In the last 24 hours...</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @recent_discoveries %></div>
                        <div>Discoveries</div>
                    </div>
                </div>
            </div>
            <%= link_to admin_discoveries_path do %>
                <div class="panel-footer">
                    <span class="pull-left">In the last 24 hours...</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @recent_searches %></div>
                        <div>Searches</div>
                    </div>
                </div>
            </div>
            <%= link_to admin_search_records_path do %>
                <div class="panel-footer">
                    <span class="pull-left">In the last 24 hours...</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bell fa-fw"></i> Current Stats
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="list-group">
                  <div class="list-group-item">
                      <i class="fa fa-comment fa-fw"></i> Total Records
                      <span class="pull-right text-muted small"><em><%= @total_records %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-twitter fa-fw"></i> Users
                      <span class="pull-right text-muted small"><em><%= @user_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-envelope fa-fw"></i> Discoveries
                      <span class="pull-right text-muted small"><em><%= @discovery_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-tasks fa-fw"></i> Parts
                      <span class="pull-right text-muted small"><em><%= @part_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-upload fa-fw"></i> Brands
                      <span class="pull-right text-muted small"><em><%= @brand_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-bolt fa-fw"></i> Products
                      <span class="pull-right text-muted small"><em><%= @product_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-warning fa-fw"></i> Vehicles
                      <span class="pull-right text-muted small"><em><%= @vehicle_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-shopping-cart fa-fw"></i> Fitments
                      <span class="pull-right text-muted small"><em><%= @fitment_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-gears fa-fw"></i> Average Fitments/Part
                      <span class="pull-right text-muted small"><em><%= @average_fitment_count %></em>
                      </span>
                  </div>
                  <div class="list-group-item">
                      <i class="fa fa-money fa-fw"></i> Parts Imported
                      <span class="pull-right text-muted small"><em><%= @parts_with_imported_fitments %>/<%= @part_count %> (<%= number_to_percentage(@percentage_imported, precision: 2) %>)</em>
                      </span>
                  </div>
              </div>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Vehicles by Vehicle Type
          </div>
          <div class="panel-body">
            <%= pie_chart vehicles_by_type_admin_charts_path %>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      <div class="chat-panel panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-comments fa-fw"></i>
              Chat
              <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-chevron-down"></i>
                  </button>
                  <ul class="dropdown-menu slidedown">
                      <li>
                          <a href="#">
                              <i class="fa fa-refresh fa-fw"></i> Refresh
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-check-circle fa-fw"></i> Available
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-times fa-fw"></i> Busy
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-clock-o fa-fw"></i> Away
                          </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="#">
                              <i class="fa fa-sign-out fa-fw"></i> Sign Out
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <ul class="chat">
                  <li class="left clearfix">
                      <span class="chat-img pull-left">
                          <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <strong class="primary-font">Jack Sparrow</strong>
                              <small class="pull-right text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                              </small>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
                  <li class="right clearfix">
                      <span class="chat-img pull-right">
                          <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <small class=" text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                              <strong class="pull-right primary-font">Bhaumik Patel</strong>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
                  <li class="left clearfix">
                      <span class="chat-img pull-left">
                          <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <strong class="primary-font">Jack Sparrow</strong>
                              <small class="pull-right text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
                  <li class="right clearfix">
                      <span class="chat-img pull-right">
                          <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <small class=" text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                              <strong class="pull-right primary-font">Bhaumik Patel</strong>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
              </ul>
          </div>
          <!-- /.panel-body -->
          <div class="panel-footer">
              <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                  <span class="input-group-btn">
                      <button class="btn btn-warning btn-sm" id="btn-chat">
                          Send
                      </button>
                  </span>
              </div>
          </div>
          <!-- /.panel-footer -->
      </div>
      <!-- /.panel .chat-panel -->
  </div>
  <!-- /.col-lg-4 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Search Volume
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <%= line_chart search_records_admin_charts_path %>
            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Top Searched Categories
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <%= column_chart category_searches_admin_charts_path %>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->

</div>
            <!-- /.row -->
