<% provide(:header, "General Attributes") %>

<div class="row">
  <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            Categories <%= link_to "New Category", admin_categories_path, class: "pull-right" %>
        </div>
        <div class="panel-body">
          <% @categories.each do |category| %>
          <ul>
            <% if category.parent_id.blank? %>
              <li><%= category.name %> <%= link_to "Show", admin_category_path(category), class: "hover-link" %>
              <%= render partial: 'admin/categories/subcategory', locals: {subcategories: category.subcategories} if category.subcategories.present? %>
              </li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            Part Attributes <%= link_to "New Part Attribute", admin_part_attributes_path, class: "pull-right" %>
        </div>
        <div class="panel-body">
          <% @part_attributes.each do |part_attribute| %>
          <ul>
            <% if part_attribute.parent_id.blank? %>
            <li><%= part_attribute.name %> <%= link_to "Show", admin_part_attribute_path(part_attribute), class: "hover-link" %>
              <%= render partial: 'admin/part_attributes/variation', locals: {attribute_variations: part_attribute.attribute_variations} if part_attribute.attribute_variations.present? %>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            Vehicle Types <%= link_to "New Vehicle Type", admin_vehicle_types_path, class: "pull-right" %>
        </div>
        <div class="panel-body">
          <ul>
            <% @vehicle_types.each do |vehicle_type| %>
              <li><%= vehicle_type.name %> <%= link_to "Show", admin_vehicle_type_path(vehicle_type), class: "hover-link" %></li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>
