<div id="post_<%= forum_post.id %>" class="row post">
  <div class="col-md-2 user">
    <div>
      <div class="col-xs-3  col-md-12 avatar">
        <%= gravatar_for(forum_post.user, class: "img-circle") %>
      </div>
      <div class="col-xs-9 col-md-12">
        <h5><strong><%= forum_post.user.username %></strong></h5>
        <strong>Posts: </strong> <%= forum_post.user.forum_posts.count %> <br>
        <strong>Joined: </strong> <%= forum_post.user.created_at.strftime('%b %d, %Y') %>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <% if current_user.admin? || forum_post.user == current_user %>
      <div class="btn-group pull-right">
          <%= link_to "Edit", edit_forum_topic_thread_post_path(@topic, @thread, forum_post), class: "btn btn-xs btn-default", remote: true %>
          <%= link_to "Delete", forum_topic_thread_post_path(@topic, @thread, forum_post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-default", remote: true %>
      </div>
    <% end %>
    <small><%= time_ago_in_words(forum_post.created_at) %> ago</small><br>
    <br>
    <div id="post-body">
      <%= simple_format forum_post.body %>
    </div>
  </div>
</div>
