<%= simple_form_for :search, url: search_path, method: :get do |f| %>
    <div class="row">
      <div class="col-md-2 column-adjustment">
        <%= f.input :year, class:"form-control", placeholder: "Year...", label: false %>
      </div>
      <div class="col-md-2 column-adjustment">
        <%#= f.input :make, class:"form-control", collection: Brand.all.order(:name), include_blank: false, label: false %>
        <%= f.input :brand, class:"form-control", placeholder: "Make...", label: false %>
      </div>
      <div class="col-md-2 column-adjustment">
        <%#= f.input :model, class:"form-control", collection: Vehicle.all.order(:model), label_method: :to_label, value_method: :id, include_blank: false, label: false %>
        <%= f.input :model, class:"form-control", placeholder: "Model...", label: false %>
      </div>
      <div class="col-md-4 column-adjustment">
        <%= f.input :part, class:"form-control", collection: Category.all, as: :grouped_select, group_method: :subcategories, placeholder: "What Part?", include_blank: false, label: false %>
      </div>
      <div class="col-md-2 column-adjustment">
        <%= f.submit("Search", class:"btn btn-default results-btn") %>
      </div>
    </div>
<% end %>
