<%= simple_form_for :search, url: search_path, method: :get do |f| %>
    <div class="row no-side-margin">
      <div class="col-md-12 no-padding">
        <div class="col-md-2 no-padding no-margin">
          <%= f.input :year, class:"form-control", collection: 1955..2017, prompt: "Year...", label: false %>
        </div>
        <div class="col-md-2 no-padding no-margin">
          <%= f.autocomplete_field :brand, autocomplete_brand_name_pages_path, placeholder: "Make...", class:"form-control" %>
        </div>
        <div class="col-md-2 no-padding no-margin">
          <%= f.autocomplete_field :model, autocomplete_vehicle_model_pages_path, placeholder: "Model...", class:"form-control" %>
        </div>
        <div class="col-md-4 no-padding no-margin">
          <%= f.autocomplete_field :part, autocomplete_category_name_pages_path, placeholder: "What Part...", class:"form-control" %>
        </div>
        <div class="col-md-2 no-padding no-margin">
          <%= f.submit("Search", class:"btn btn-default") %>
        </div>
      </div>
    </div>
<% end %>
