<% content_for :header do %>
  <%= render 'layouts/header_partials/results' %>
<% end %>

<% content_for :subheader do %>
  <%= render 'layouts/header_partials/search' %>
<% end %>

<div class="row">
  <div class="col-md-9">
      <% if @vehicle %>
      <div class="ibox">
        <div class="ibox-title"><%= @compatible_search_results.count %> Compatible Parts</div>
        <div class="ibox-content no-padding">
          <% if @compatible_search_results.any? %>
            <%= render partial: 'compatibles/compatible', collection: @compatible_search_results %>
          <% else %>
          <div class="search-box-padding">
            <h5 class="text-center">No Compatibles Were Found...</h5>
            <p class="text-center">Try a different search term other than <strong><%= @part %></strong>. Maybe something shorter?</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-title"><%= @potential_parts.count %> Potential Parts</div>
        <div id="potentials" class="ibox-content no-padding">
          <% if @potential_parts.any? %>
            <%= render partial: 'parts/potential_part', collection: @potential_parts %>
          <% else %>
          <div class="search-box-padding">
            <h5 class="text-center">No Potentials Were Found...</h5>
            <p class="text-center">Try a different search term other than <strong><%= @part %></strong>. Maybe something shorter?</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-title"><%= @oem_search_results.count %> OEM Parts </div>
        <div class="ibox-content no-padding">
          <% if @oem_search_results.any? %>
            <%= render partial: 'parts/oem_part', collection: @oem_search_results %>
          <% else %>
          <div class="search-box-padding">
            <h5 class="text-center">No OEM Parts Were Found...</h5>
            <p class="text-center">Try a different search term other than <strong><%= @part %></strong>. Maybe something shorter?</p>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
  <div class="col-md-3">
    <%= render 'results_sidebar' %>
    <div class="ibox">
      <div class="ibox-title">
        Quick Stats
      </div>
      <div class="ibox-content">
        Compatible Vehicles:
        <ul>
          <li>2009 Yamaha WR250</li>
          <li>2008 Yamah YZ250</li>
          <li>2005 Yamaha YZ125</li>
        </ul>
        Potential Vehicles:
        <ul>
          <li>2009 Yamaha WR250</li>
          <li>2008 Yamah YZ250</li>
          <li>2005 Yamaha YZ125</li>
        </ul>
      </div>
    </div>
  </div>
</div>
