
<%= simple_form_for(@discovery) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="vehicle1">
      <%= text_field(:og_vehicle, :brand, placeholder: ' Brand') %>
      <%= number_field(:og_vehicle, :year ) %>
      <%= text_field(:og_vehicle, :model, placeholder: ' Model') %>
    </div>
    <div class="og_part">
      <%= text_field(:og_part, :brand, placeholder: ' Brand') %>
      <%= text_field(:og_part, :name, placeholder: ' Part Name' ) %>
    </div>
    <div class="vehicle2">
      <%= text_field(:compat_vehicle, :brand, placeholder: ' Brand') %>
      <%= number_field(:compat_vehicle, :year ) %>
      <%= text_field(:compat_vehicle, :model, placeholder: ' Model') %>
    </div>
    <div class="compat_part">
      <%= text_field(:compat_part, :brand, placeholder: ' Brand') %>
      <%= text_field(:compat_part, :name, placeholder: ' Part Name' ) %>
    </div>
    
    <%= check_box_tag(:backwards) %>
    <%= label_tag(:backwards, "Are these backwards compatible?") %>

    <%= f.input :comment %>
    <%= f.input :modifications, as: :radio_buttons, label: "Are mods required?" %>

    <h3>Steps </h3>
    <div id="steps">
      <%= f.simple_fields_for :steps do |step| %>
        <%= render 'step_fields', f: step %>
      <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Step', f, :steps %>
        </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



