<%= simple_form_for(@discovery, html: {id: "discovery-form"}) do |f| %>
    <div>
        <h3>Original Part</h3>
        <section>
          <h3>Tell us about the original part</h3>
          <div class="form-inline">
              <div class="form-group">
                <%= f.input :oem_part_brand, placeholder: ' Brand', class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.input :oem_part_name, placeholder: ' Brand', class:"form-control" %>
              </div>
          </div>
          <br>
          <h3>Did it come from another Vehicle?</h3>
          <div class="form-inline">
            <div class="form-group">
              <%= f.input :oem_vehicle_brand, placeholder: ' Brand', class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.input :oem_vehicle_year, placeholder: ' Year', class:"form-control", as: :integer %>
            </div>
            <div class="form-group">
              <%= f.input :oem_vehicle_model, placeholder: ' Model', class:"form-control" %>
            </div>
          </div>
        </section>
        <h3>Compatibilities</h3>
        <section>
          <h3>Sweet! Now tell us what it fits</h3>
          <div class="form-inline">
            <div class="form-group">
              <%= f.input :compatible_vehicle_brand, placeholder: ' Brand', class:"form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.input :compatible_vehicle_year, placeholder: ' Year', class:"form-control", required: true, as: :integer, wrapper_html: { id: 'password' } %>
            </div>
            <div class="form-group">
              <%= f.input :compatible_vehicle_model, placeholder: ' Model', class:"form-control", required: true %>
            </div>
          </div>
          <br>
          <h3>Just to make sure, what part is being replaced?</h3>
          <div class="form-inline">
            <div class="form-group">
              <%= f.input :compatible_part_brand, placeholder: ' Brand', class:"form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.input :compatible_part_name, placeholder: ' Name', class:"form-control", required: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.input :backwards, as: :radio_buttons %>
            </div>
        </section>
        <h3>Additional</h3>
        <section>
          <%= f.input :comment, label:"Any comments to add? Extra parts? etc" %>
          <%= f.input :modifications, label: "Are any modifications required?", as: :radio_buttons %>
          <div id="steps">
            <h3>Tell us about those modifications. Break them apart into steps.</h3>
            <%= f.simple_fields_for :steps do |step| %>
              <%= render 'step_fields', f: step %>
            <% end %>
              <div class="links">
                <%= link_to_add_association 'Add Step', f, :steps %>
              </div>
          </div>
        </section>
        <h3>Review</h3>
        <section>
            <%= f.error_notification %>
            <h3>Does this look correct? Go back and change if needed.</h3>
        </section>
        <div class="form-actions display-none">
          <%= f.button :submit, id:"disc_submit" %>
        </div>
    </div>
<% end %>



<script type="text/javascript">
  var form = $("#discovery-form");
  form.children("div").steps({
      headerTag: "h3",
      bodyTag: "section",
      transitionEffect: "slideLeft",
      onStepChanging: function (event, currentIndex, newIndex)
      {
          form.validate().settings.ignore = ":disabled,:hidden";
          return form.valid();
      },
      onFinished: function (event, currentIndex)
      {
          document.getElementById('disc_submit').click();
      }
  });
</script>

