<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">  
      <div class="col-lg-8">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Compatibilities Discovered</h5>
              </div>
              <div class="ibox-content">
              <div class="margin-left-45">
                <% @discovery.parts.each do |p| %>
                  <h2 >
                      <%= p.product.brand.name %> <%= p.product.name %><br/>
                  </h2>
                  <p>
                     <strong>Part Number: </strong><%= link_to "#{p.part_number}", p %> <strong>From: </strong> <% p.fitments.each do |f| %> <%= f.vehicle.year %> <%= f.vehicle.brand.name %> <%= f.vehicle.model %> <%= link_to "Vehicle", f.vehicle %> <% end %></p>
                  <p>
                <% end %>
              </div>
              </div>
          </div>
          
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Fits These Vehicles</h5>
              </div>
              <div class="ibox-content">
                <div class="row">
                  <% @discovery.compatible_parts.each do |f| %>
                    <div class="col-md-6 col-sm-6">
                      <div class="discovery-vehicle-title">
                        <%= f.product.name%> <%= f.product.brand.name %>
                      </div>
                      <div class="sub-heading">
                          <i class="fa fa-gears"></i><strong> Replaces:</strong> <%= f.product.name %>
                      </div>
                    </div>
                  <% end %>
                  <% @discovery.compatibles.each do |f| %>
                    <div class="col-md-6 col-sm-6">
                      Backwards compatible? <%= f.backwards %>
                  <% end %>
                  <div class="col-md-6 col-sm-6">
                      <div class="discovery-vehicle-title">
                        2007 Yamaha WR250
                      </div>
                      <div class="sub-heading">
                          <i class="fa fa-gears"></i><strong> Replaces:</strong> Front Wheel
                      </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Additional Information</h5>
              </div>
              <div class="ibox-content">
                  <h3>Comments:</h3>
                  <p><%= @discovery.comment %></p>
                  <p><strong>Modifications:</strong> <%= @discovery.modifications %></p>
                  <% if @discovery.steps.any? %>
                    <p><strong>Steps:</strong></p>
                    <% @discovery.steps.each do |s| %>
                        <div class="step-outline">
                          <%= s.content %>
                        </div>
                    <% end %>
                  <% end %>
                  
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= @user.username %></h5>
            </div>
            <div>
                <div class="ibox-content no-padding border-left-right">
                    <%= image_tag("missing-image.png", class:"img-responsive") %>
                </div>
                <div class="ibox-content profile-content">
                    <p><i class="fa fa-map-marker"></i> Rank: Master</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                    </p>
                    <div class="row m-t-lg">
                        <div class="col-md-4">
                          <div class="text-center">
                            <i class="fa fa-gears"></i></br>
                            <h4><strong><%= @user.discoveries.count %></strong></h4>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="text-center">
                            <i class="fa fa-gears"></i></br>
                            <h4><strong><%= @user.compatibles.count %></strong></h4>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="text-center">
                            <i class="fa fa-gears"></i></br>
                            <h4><strong>240</strong></h4>
                          </div>
                        </div>
                    </div>
                    <div class="user-button">
                        <div class="row">
                            <div class="col-md-6">
                              <%= link_to @user, class:"btn btn-outline btn-default" do %><i class="fa fa-envelope"></i> Send Message <% end %>
                                <!-- <button type="button" class="btn btn-outline btn-default"><i class="fa fa-envelope"></i> Send Message</button> -->
                            </div>
                            <div class="col-md-6">
                              <%= link_to @user, class:"btn btn-outline btn-default" do %><i class="fa fa-envelope"></i> View Profile <% end %>
                                <!-- <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
