
  <div class="row">
      <div class="col-lg-8">
          <div class="ibox">
              <div class="ibox-title">
                  <h5>Compatibilities Discovered</h5>
              </div>
              <div class="ibox-content no-padding">
                <%= render partial: 'compatible', collection: @discovery.compatibles %>
              </div>
          </div>
          <div class="ibox">
              <div class="ibox-title">
                  <h5>Additional Information</h5>
              </div>
              <div class="ibox-content">
                  <h3>Comments:</h3>
                  <p><%= @discovery.comment %></p>
                  <p><strong>Modifications:</strong> <%= @discovery.modifications %></p>
                  <% if @discovery.steps.any? %>
                    <p><strong>Steps:</strong></p>
                    <% @discovery.steps.each do |s| %>
                        <div class="step-outline">
                          <%= s.content %>
                        </div>
                    <% end %>
                  <% end %>
              </div>
          </div>
      </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5><%= @user.username %></h5>
            </div>
              <div class="ibox-content no-padding border-left-right">
                  <%= image_tag("missing-image.png", class:"img-responsive") %>
              </div>
              <div class="ibox-content profile-content">
                  <p><i class="fa fa-map-marker"></i> Rank: Master</p>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                  </p>
                  <div class="row m-t-lg">
                      <div class="col-md-4">
                        <div class="text-center">
                          <i class="fa fa-gears"></i></br>
                          <h4><strong><%= @user.discoveries.count %></strong></h4>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="text-center">
                          <i class="fa fa-gears"></i></br>
                          <h4><strong><%= @user.compatibles.count %></strong></h4>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="text-center">
                          <i class="fa fa-gears"></i></br>
                          <h4><strong>240</strong></h4>
                        </div>
                      </div>
                  </div>
                  <div class="user-button">
                      <div class="row">
                          <div class="col-md-6">
                            <%= link_to @user, class:"btn btn-outline btn-default" do %><i class="fa fa-envelope"></i> Send Message <% end %>
                              <!-- <button type="button" class="btn btn-outline btn-default"><i class="fa fa-envelope"></i> Send Message</button> -->
                          </div>
                          <div class="col-md-6">
                            <%= link_to @user, class:"btn btn-outline btn-default" do %><i class="fa fa-envelope"></i> View Profile <% end %>
                              <!-- <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button> -->
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
  </div>
