<%= simple_form_for([:admin, @category]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :parent_id, collection: @parent_categories %>
    <%= f.input :searchable %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
