<%= simple_form_for([:admin, @new_category]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.hidden_field :parent_id, value: @category.id %>
    <%= f.input :searchable %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
