<%= simple_form_for([:admin, @product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Part Name" %>
    <%= f.input :description, label: "Description"  %>
    <%= f.association :category, label_method: :name, value_method: :id %>
    <%= f.association :product_type, collection: @product_types %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
