<% provide(:header, "#{@product.brand.name} #{@product.name}") %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="action-btns pull-right">
            <%= link_to 'Edit', edit_admin_product_path(@product) %> |
            <%= link_to 'Delete', admin_product_path(@product), method: :delete, data: {confirm: "Are you sure"} %>
          </div>
          <h3>Brand:<small> <%= link_to @product.brand.name, admin_brand_path(@product.brand) %></small> </h3>
          <h3>Product Name:<small> <%= @product.name %></small></h3>
          <h3>Category:<small> <%= @product.category.parent_category.name if @product.category.parent_category %> - <%= @product.category.name %></small></h3>
          <h3>Description:</h3>
          <small> <%= @product.description %> </small>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Parts Listing
        </div>
        <div class="panel-body">
          <% if @product.parts.any? %>
            <div class="row">
              <% @product.parts.each do |p|%>
                <div class="col-md-3 col-xs-6 oem-vehicle">
                  <%= link_to "#{p.part_number}", admin_part_path(p)  %>
                  <ul>
                    <% p.oem_vehicles.each do |v| %>
                       <li><%= v.year %> <%= v.brand.name %> <%= v.model.name %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          <% else %>
            <h5>This part doesn't have any oem fitments yet</h5>
          <% end %>
        </div>
    </div>
  </div>
</div>
