<tr>
  <td><%= part.product.brand.name %></td>
  <td><%= part.product.category.name %></td>
  <td><%= part.product.name %></td>
  <td><%= part.part_number %></td>
  <td><%= link_to 'View', admin_part_path(part) %></td>
  <td><%= link_to 'Edit', edit_admin_part_path(part) %></td>
  <td><%= link_to 'Delete', admin_part_path(part), method: :delete, data: {confirm: "Are you sure"} %></td>
</tr>
