<% provide(:header, "Part: #{@part.part_number}") %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="action-btns pull-right">
            <%= link_to "Update Fitments", update_ebay_fitments_admin_part_path(@part) %> |
            <%= link_to 'Edit', edit_admin_part_path(@part) %>
          </div>
          <h3>Part Number: <small><%= @part.part_number %></small></h3>
          <h3>Category: <small><%= @part.product.category.name %></small></h3>
          <h3>Brand:<small> <%= link_to @part.product.brand.name, admin_brand_path(@part.product.brand) %></small> </h3>
          <h3>Product Name:<small> <%= link_to @part.product.name, admin_product_path(@part.product) %></small></h3>
          <h3>Attributes: <small><% @part.part_attributes.each do |p| %><%= p.parent_attribute.name %>: <%= p.name %> <% end %></small></h3>
          <% if @part.note.present? %>
            <h3>Notes: <small><%= @part.note %></small></h3>
          <% end %>
          <h3>epid: <small><%= @part.epid %></small></h3>
          <h3>id: <small><%= @part.id %></small></h3>
          <h3>Ebay Fitments Imported: <small><%= @part.ebay_fitments_imported %></small></h3>
          <h3>Ebay Fitments Last Updated: <small><%= @part.ebay_fitments_updated_at.strftime('%x') if @part.ebay_fitments_updated_at %></small></h3>
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          OEM vehicles
      </div>
      <div class="panel-body">
        <% if @part.oem_vehicles.any? %>
          <div class="row">
            <% @part.oem_vehicles.includes(:vehicle_year, vehicle_submodel: {vehicle_model: :brand}).each do |v|%>
              <div class="col-md-3 col-xs-6 oem-vehicle">
                <%= v.year %> <%= v.brand.name %> <%= v.model.name %> <%= v.submodel.try(:name) %>
              </div>
            <% end %>
          </div>
        <% else %>
          <h5>This part doesn't have any oem fitments yet</h5>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          Compatible Parts
      </div>
      <div class="panel-body">
        <% if @part.compatibilities.any? %>
          <div class="row">
            <% @part.compatibilities.each do |c|%>
              <div class="col-md-3 col-xs-6 oem-vehicle">
                Compatible ID: <%= c.id %>
                <ul>
                  <li>Compatible Part: <%= link_to c.compatible_part.part_number, admin_part_path(c.compatible_part) %></li>
                  <li>Score: <%= c.cached_votes_score %></li>
                  <li><%= link_to "Discovery", admin_discovery_path(c.discovery) %></li>
                </ul>
              </div>
            <% end %>
          </div>
        <% else %>
          <h5>This part doesn't hasn't been used in any compatibilities</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
