<%= simple_form_for([:admin, @part_attribute]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :parent, collection: @attribute_parents %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
