<div class="row change-padding">
<!-- Main Content -->
  <div class="col-md-9">
      <!-- Basic Info and Picture -->
      <div class="row  nj-mat">
        <div class="col-md-3">
          <%= image_tag("missing-image.png", class:"img-responsive") %>
        </div>
        <div class="col-md-9">
          <div class="edit-btn"><%= link_to 'Edit', edit_vehicle_path(@vehicle), class:"float-right hidden-btn" %></div>
          <strong>Year: </strong><%= @vehicle.year %> <br>
          <strong>Brand: </strong><%= @vehicle.brand.name %> <br>
          <strong>Model: </strong><%= @vehicle.model %> <br>
          <strong>Category: </strong>Cross / motocross <br>
          <strong>Description:</strong> <p>This is the bike that sets the pace in the 250 2-stroke class. Powered by an enormously powerful and responsive motor that benefits from our torque-boosting Yamaha Power Valve System (YPVS), the AMA Supercross-winning YZ250 offers today´s motocross rider the ultimate in two stroke performance.</p> 
        </div>
      </div>

      <!-- Specifications -->
      <div class="nj-mat">
        <div data-toggle="collapse" data-target="#specifications" class="mat-heading">
          <strong>Specifications</strong><i class="float-right fa fa-angle-double-down 2x"></i>
        </div>
        <div id="specifications" class="collapse mat-contents">
              <strong>Engine and transmission</strong> <br>
              Displacement: 249.00 ccm (15.19 cubic inches) <br>
              Engine type:  V2, four-stroke<br>
              Compression:  8.9:1<br>
              Bore x stroke:  66.4 x 72.0 mm (2.6 x 2.8 inches)<br>
              Fuel system:  Carburettor. Keihin PWK38S/1<br>
              Ignition: CDI<br>
              Lubrication system: Premix<br>
              Cooling system: Liquid<br>
              Gearbox:  5-speed<br>
              Transmission type,<br>
              final drive:  Chain<br>
              Clutch: Wet, multiple-disc<br>
              <strong>Chassis, suspension, brakes and wheels</strong><br>
              Front suspension: Telescopic fork<br>
              Front wheel travel: 300 mm (11.8 inches)<br>
              Rear suspension:  Swinging arm (link-type monocross)<br>
              Rear wheel travel:  125 mm (4.9 inches)<br>
              Front tyre: 80/90-M21<br>
              Rear tyre:  110/90-M19<br>
              Front brakes: Single disc<br>
              Front brakes diameter:  250 mm (9.8 inches)<br>
              Rear brakes:  Single disc<br>
              Rear brakes diameter: 245 mm (9.6 inches)<br>
              <strong>Physical measures and capacities</strong><br>
              Dry weight: 96.0 kg (211.6 pounds)<br>
              Seat height:  997 mm (39.3 inches) If adjustable, lowest setting.<br>
              Overall height: 1,309 mm (51.5 inches)<br>
              Overall length: 2,184 mm (86.0 inches)<br>
              Overall width:  827 mm (32.6 inches)<br>
              Ground clearance: 385 mm (15.2 inches)<br>
              Wheelbase:  1,481 mm (58.3 inches)<br>
              Fuel capacity:  8.00 litres (2.11 gallons)<br>
              <strong>Other specifications</strong><br>
              Starter:  Kick<br>
        </div>
      </div>

      <!-- Parts that Fit -->
      <div class="nj-mat">
        <div data-toggle="collapse" data-target="#parts" class="mat-heading">
          <strong>Parts</strong><i class="float-right fa fa-angle-double-down 2x"></i>
        </div>
        <div id="parts" class="collapse mat-contents table-test">
          <%= render 'tabledata' %>
        </div>
      </div>
  </div>
<!-- Sidebar -->
  <div class="col-md-3">
    <div class="sidebar nj-mat">
      <div class="related-models">
        <h6 class="nj-heading">Related Models</h6>
          <div id="model-id" class="related-model">
            <strong>Yamaha</strong><strong> YZ250</strong>
            <%= image_tag("missing-image.png", class:"img-responsive") %>
          </div>
          <div id="model-id" class="related-model">
            <strong>Yamaha</strong><strong> YZ450</strong>
            <%= image_tag("missing-image.png", class:"img-responsive") %>
          </div>
          <div id="model-id" class="related-model">
            <strong>Suzuki</strong><strong> RMZ450</strong>
            <%= image_tag("missing-image.png", class:"img-responsive") %>
        </div>
      </div>
    </div>
  </div>
</div>


