<div class="wrapper wrapper-content">
  <div class="row m-b-lg m-t-lg  animated fadeInDown">
    <div class="col-md-5">
        <div class="">
          <%= image_tag("missing-image.png", class:"img-responsive") %>
        </div>  
    </div>
      <div class="col-md-7">
      <div class="">
            <table class="table small m-b-xs">
              <tbody>
                <tr>
                    <td><h3><strong>Year:</strong> <%= @vehicle.year %> </h3></td>
                    <td><h3><strong>Make:</strong> <%= @vehicle.brand.name %></h3></td>
                </tr>
                <tr>
                    <td><h3><strong>Model:</strong> <%= @vehicle.model %></h3></td>
                    <td><h3><strong>Category:</strong> Motocross</h3></td>
                </tr>
                <tr><td></td><td></td></tr>
              </tbody>
            </table>
          </div>
          <div>
              <h4>Description</h4>
              <small>
                  This is the bike that sets the pace in the 250 2-stroke class. Powered by an enormously powerful and responsive motor that benefits from our torque-boosting Yamaha Power Valve System (YPVS), the AMA Supercross-winning YZ250 offers today´s motocross rider the ultimate in two stroke performance.
              </small>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4  animated fadeInLeft">
          <div class="ibox">
              <div class="ibox-content">
                  <h3>Specifications</h3>
                  <strong>Engine and transmission</strong> <br>
              Displacement: 249.00 ccm (15.19 cubic inches) <br>
              Engine type:  V2, four-stroke<br>
              Compression:  8.9:1<br>
              Bore x stroke:  66.4 x 72.0 mm (2.6 x 2.8 inches)<br>
              Fuel system:  Carburettor. Keihin PWK38S/1<br>
              Ignition: CDI<br>
              Lubrication system: Premix<br>
              Cooling system: Liquid<br>
              Gearbox:  5-speed<br>
              Transmission type,<br>
              final drive:  Chain<br>
              Clutch: Wet, multiple-disc<br><br>
              <strong>Chassis, suspension, brakes and wheels</strong><br>
              Front suspension: Telescopic fork<br>
              Front wheel travel: 300 mm (11.8 inches)<br>
              Rear suspension:  Swinging arm (link-type monocross)<br>
              Rear wheel travel:  125 mm (4.9 inches)<br>
              Front tyre: 80/90-M21<br>
              Rear tyre:  110/90-M19<br>
              Front brakes: Single disc<br>
              Front brakes diameter:  250 mm (9.8 inches)<br>
              Rear brakes:  Single disc<br>
              Rear brakes diameter: 245 mm (9.6 inches)<br><br>
              <strong>Physical measures and capacities</strong><br>
              Dry weight: 96.0 kg (211.6 pounds)<br>
              Seat height:  997 mm (39.3 inches) If adjustable, lowest setting.<br>
              Overall height: 1,309 mm (51.5 inches)<br>
              Overall length: 2,184 mm (86.0 inches)<br>
              Overall width:  827 mm (32.6 inches)<br>
              Ground clearance: 385 mm (15.2 inches)<br>
              Wheelbase:  1,481 mm (58.3 inches)<br>
              Fuel capacity:  8.00 litres (2.11 gallons)<br><br>
              <strong>Other specifications</strong><br>
              Starter:  Kick<br>
              </div>
          </div>
      </div>
      <div class="col-lg-8  animated fadeInRight">  
        <div class="ibox">
            <div class="ibox-title">
                <h5>Compatible Parts</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding">
            <% if @compatibles.any? %>
              <%= render partial: 'compatibles/compatible', collection: @compatibles %>
            <% else %>
              <div class="search-box-padding">
                <h5 class="text-center">Search Compatible Parts</h5>
                <form class="search-container text-center" action="/search">
                  <input id="search-box" type="text" class="search-box" name="q" />
                  <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                  <input type="submit" id="search-submit" />
                </form>
              </div>
            <% end %>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <h5>Potential Parts</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding">
            <% if @potential_compatibles.any? %>
              <%= render partial: 'compatibles/potential_compatible', collection: @potential_compatibles %>
            <% else %>
              <div class="search-box-padding">
                <h5 class="text-center">Search Potential Parts</h5>
                <form class="search-container text-center" action="/search">
                  <input id="search-box" type="text" class="search-box" name="q" />
                  <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                  <input type="submit" id="search-submit" />
                </form>
              </div>
            <% end %>
          </div>
      </div>

      <div class="ibox">
          <div class="ibox-title">
            <h5>OEM Parts</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
          </div>
          <div class="ibox-content no-padding">
          <% if @oem_parts %>
            <%= render partial: 'parts/oem_part', collection: @oem_parts %>
          <% else %>
            <div class="search-box-padding">
              <h5 class="text-center">Search OEM Parts</h5>
              <form class="search-container text-center" action="/search">
                <input id="search-box" type="text" class="search-box" name="q" />
                <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                <input type="submit" id="search-submit" />
              </form>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

