<tr>
  <td><%= compatible.id %></td>
  <td><%= compatible.cached_votes_score %></td>
  <td><%= compatible.part.part_number %></td>
  <td><%= compatible.compatible_part.part_number %></td>
  <td><%= compatible.discovery_id %></td>
  <td><%= compatible.discovery.modifications %></td>
  <td><%= link_to 'Show', admin_compatible_path(compatible) %></td>
  <td><%= link_to 'Edit', edit_admin_compatible_path(compatible) %></td>
  <td><%= link_to "Delete", admin_compatible_path(compatible), method: :delete, data: {confirm: "Are you sure?"}  %></td>
</tr>
