<%= form_for(@product) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :brand_name %><br>
    <%= f.text_field :brand_name, required: true, data: {autocomplete_source: autocomplete_brands_path} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>