<div class="row m-b-lg m-t-lg  animated fadeInDown">
    <div class="col-md-5">
        <div class="">
          <%= image_tag("missing-image.png", class:"img-responsive") %>
        </div>
    </div>
      <div class="col-md-7">
      <div class="">
            <table class="table small m-b-xs">
              <tbody>
                <tr>
                    <td><h3><strong>Brand:</strong> <%= @product.brand.name %> </h3></td>
                    <td><h3><strong>Part:</strong> <%= @product.name %></h3></td>
                    <td><h3><strong>Category:</strong> <%= @product.category.name %></h3></td>
                </tr>
                <tr><td></td><td></td></tr>
              </tbody>
            </table>
          </div>
          <div>
              <h4>Description</h4>
              <small> <%= @product.description %> </small>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12  animated fadeInRight">
      <% if @product.parts.any? %>
        <div class="ibox">
            <div class="ibox-title">
                <h5>The <%= @product.brand.name %> <%= @product.name %> was designed for these vehicles</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
              <div class="row">
                <% @product.parts.each do |p|%>
                  <% p.oem_vehicles.each do |v| %>
                    <div class="col-md-3 col-xs-6 oem-vehicle">
                     <%= v.year %> <%= v.brand.name %> <%= v.model %> <%= link_to "PN: #{p.part_number}", p  %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
    <% end %>
    </div>
</div>
