<div class="card o-f-h">
  <div class="card-profile-bg"></div>
  <div class="card-body text-center">
    <div class="card-profile-image">
      <%= gravatar_for(current_user) %>
    </div>
    <div class="card-profile-username">
      Hello <strong><%= current_user.username %></strong>!
    </div>
    You last visited <%= time_ago_in_words(current_user.last_sign_in_at) %> ago.
  </div>
  <div class="sidebar-menu">
    <ul class="nav">
      <%= nav_item(icon(:home) + " Dashboard", account_root_path) %>
      <%= nav_item(icon(:gears) + " Account Settings", account_settings_path) %>
      <%= nav_item(icon(:comments_o) + " Forums", forum_root_path) %>
    </ul>
  </div>
</div>
