<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/analytics' if Rails.env.production? %>
  <%= render 'layouts/ie_shim' %>
</head>

<body id="body">
    <%= render 'layouts/hero' if @home_page %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>

    <% if @home_page %>
        <%= yield %>
    <% else %>
      <div id="content" class="container content-wrapper">
        <%= yield %>
      </div>
    <% end %>

    <%#= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
</body>
</html>
