<!DOCTYPE html>
<html>
<head>
  <title>theParts.NINJA | Let the Sensei find it</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification" content="vR1-h9QoEBn9WfgqHrePGRhyUUJkxtom3jU_WfqMcHA" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="body">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>

        <% if @home_page %>
            <%= yield %>
        <% else %>
          <div id="content" class="container content-wrapper">
            <%= yield %>
          </div>
        <% end %>

    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
</body>
</html>
