<!DOCTYPE html>
<html>
<head>
  <title>Parts WEB | Options at your Fingertips</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="gray-bg">
    <%= render 'layouts/navbar' %>
    <% if @home_page %><%= render 'layouts/search_header' %><% else %><%= render 'layouts/header' %> <% end %>
    <%= render 'layouts/flash' %>

        <% if @home_page %>
            <%= yield %>
        <% else %>
          <div id="content" class="container">
            <div class="wrapper wrapper-content bg-card m-b-lg">
              <%= yield %>
            </div>
          </div>
        <% end %>

    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
</body>
</html>
