<!DOCTYPE html>
<html>
<head>
  <title>theParts.NINJA | Learn from the Sensei</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="body">

  <% content_for :header_topic do %>
    What's new <%= @current_user.username %>?
  <% end %>
  <% content_for :header do %>
    <%= render 'layouts/header_partials/default' %>
    <%= render 'layouts/header_partials/quicklinks' %>
  <% end %>

  <%= render 'layouts/navbar' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>

  <div id="content" class="container content-wrapper">
    <%= render 'layouts/profile' %>
    <div class="row">
      <div class="col-md-3">
        <%= render 'layouts/dashboard_links' %>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>

</body>
</html>
