<!DOCTYPE html>
<html>
<head>
  <title>PartsNINJA | Learn from the Sensei</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="gray-bg">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>

    <div id="content" class="container">
      <div class="wrapper wrapper-content bg-card m-b-lg">
        <div class="row m-b-lg m-t-lg">
          <%= render 'layouts/profile' %>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= render 'layouts/dashboard_links' %>
          </div>
          <div class="col-md-9 animated fadeInLeft">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>

</body>
</html>
